<template>
<div class="elcast-container" v-loading="loading">
    <el-row :gutter="15">
        <el-col :xs="24" :sm="24" :md="8" :lg="8">
            <app-clients :client="client" v-on:getFloorClient="getFloorClient" class="chart-wrapper" />
        </el-col>
        <el-col :xs="24" :sm="24" :md="16" :lg="16">
            <app-actions :clientid="clientid" :floor="floor" v-on:refreshFloor="refreshFloor" class="chart-wrapper" />
        </el-col>
        <el-col :xs="24" :sm="24" :md="8" :lg="8">
            <app-floors :list="floor" v-on:getFloorDevice="getFloorDevice" class="chart-wrapper" />
        </el-col>
        <el-col :xs="24" :sm="24" :md="16" :lg="16">
            <app-devices :devices="device" class="chart-wrapper" />
        </el-col>
    </el-row>
</div>
</template>

<script>
import {
    getbyuser as apiGetClient,
    getfloorclient as apiGetFloorClient,
    getfloordevice as apiGetFloorDevice,
} from '@/api/client';
import appClients from './components/clients';
import appActions from './components/actions';
import appFloors from './components/floors';
import appDevices from './components/devices';
export default {
    name: 'device',
    components: {
        appClients,
        appActions,
        appFloors,
        appDevices
    },
    data() {
        return {
            loading: false,
            client: [],
            floor: [],
            device: [],
            clientid: ''
        }
    },
    mounted() {
        this.getClient()
    },
    methods: {
        getClient() {
            this.loading = true;
            apiGetClient().then(response => {
                if (response.success) {
                    this.loading = false;
                    this.client = [];
                    let data = response.data;
                    for (let i in data) {
                        this.client.push({
                            clientid: data[i].clientid,
                            clientcode: data[i].clientcode,
                            clientno: data[i].clientinformation.client_no,
                            clientname: data[i].clientinformation.client_name,
                            clientsuser: data[i].clientusers,
                        })
                    }
                }
            }).catch(error => {
                this.loading = false;
                console.log(error);
                this.$message({
                    type: 'error',
                    message: 'Error Get list Client',
                });
            })
        },
        getFloorClient(clientid) {
            this.clientid = clientid;
            this.floor = [];
            let params = {
                clientid
            };
            this.loading = true;
            apiGetFloorClient(params).then(response => {
                if (response.success) {
                    this.loading = false;
                    for (let i in response.data) {
                        this.floor.push({
                            active: false,
                            ...response.data[i]
                        })
                    }
                }
            }).catch(error => {
                this.loading = false;
                console.log(error);
                this.$message({
                    type: 'error',
                    message: 'Error Get Floor Client',
                });
            })
        },
        getFloorDevice(floorid) {
            let params = {
                floorid
            };
            this.loading = true;
            apiGetFloorDevice(params).then(response => {
                if (response.success) {
                    this.loading = false;
                    this.device = response.data;
                }
            }).catch(error => {
                this.loading = false;
                console.log(error);
                this.$message({
                    type: 'error',
                    message: 'Error Get Floor Client',
                });
            })
        },
        refreshFloor(clientid) {
            this.getFloorClient(clientid)
        }
    }
}
</script>

<style lang="scss" scoped>
.elcast-container {
    margin: 1em;
}
</style>
