<template>
<div class="elcast-container" v-loading="loading">
    <el-card class="box-card" shadow="always">
        <el-col :span="6" :offset="18">
            <el-input v-model="search" size="mini" placeholder="Type to search" />
        </el-col>
        <el-table :data="list.filter(data => !search || data.name.toLowerCase().includes(search.toLowerCase()))" style="width: 100%">
            <el-table-column label="Name" prop="name"></el-table-column>
            <el-table-column label="Email" prop="email"></el-table-column>
            <el-table-column label="Address" prop="address"></el-table-column>
            <el-table-column label="City" prop="city"></el-table-column>
            <el-table-column label="Zip" prop="zip"></el-table-column>
            <el-table-column label="Phone" prop="phone"></el-table-column>
            <el-table-column label="Role" prop="role"></el-table-column>
            <el-table-column label="Status" prop="status"></el-table-column>
        </el-table>
    </el-card>
</div>
</template>

<script>
import {
    mapGetters
} from 'vuex'
import {
    list as apiList
} from '@/api/user'

export default {
    name: 'Dashboard',
    data() {
        return {
            search: '',
            list: [],
            loading: false
        }
    },
    computed: {
        ...mapGetters([
            'roles'
        ])
    },
    methods: {
        generatelist(data) {
            for (let i in data) {
                this.list.push({
                    name: data[i].userinformations.name,
                    email: data[i].userinformations.email,
                    address: data[i].userinformations.address,
                    city: data[i].userinformations.city,
                    zip: data[i].userinformations.zip,
                    phone: data[i].userinformations.phone,
                    role: data[i].role.description,
                })
            }
        }
    },
    mounted() {
        this.loading = true;
        apiList().then(response => {
            if (response.success) {
                this.loading = false;
                this.generatelist(response.data)
            }
        }).catch(error => {
            this.loading = false;
            console.log(error)
        })
    }
}
</script>

<style lang="scss" scoped>
.elcast-container {
    margin: 1em;
}
</style>
