<template>
<div class="elcast-container" v-loading="loading">
    <el-card class="box-card" shadow="always">
        <el-form :model="form" :rules="rules" ref="form" label-width="10%">
            <el-form-item label="Name" prop="name">
                <el-input v-model="form.name"></el-input>
            </el-form-item>
            <el-form-item label="Email" prop="email">
                <el-input v-model="form.email"></el-input>
            </el-form-item>
            <el-form-item label="Phone" prop="phone">
                <el-input v-model="form.phone"></el-input>
            </el-form-item>
            <el-form-item label="Address" prop="address">
                <el-input v-model="form.address"></el-input>
            </el-form-item>
            <el-form-item label="City">
                <el-input v-model="form.city" prop="city"></el-input>
            </el-form-item>
            <el-form-item label="Zip">
                <el-input-number v-model="form.zip" prop="zip"></el-input-number>
            </el-form-item>
            <el-form-item label="Resources">
                <el-radio-group v-model="form.role" prop="role">
                    <el-radio v-for="(item, i) in role" :key="i" :label="item.id">{{ item.role }} </el-radio>
                </el-radio-group>
            </el-form-item>
            <el-form-item label="Password" prop="password">
                <el-input v-model="form.password"></el-input>
            </el-form-item>
            <el-form-item>
                <el-button type="primary" @click="onSubmit('form')">Create</el-button>
            </el-form-item>
        </el-form>
    </el-card>
</div>
</template>

<script>
import {
    mapGetters
} from 'vuex'

import {
    role as apiRole,
    createUser as apiCreateUser
} from '@/api/user'

export default {
    name: 'registration',
    data() {
        return {
            name: 'Registration',
            form: {
                name: '',
                email: '',
                phone: '',
                address: '',
                city: '',
                zip: '',
                password: '',
                role: ''
            },
            rules: {
                name: [{
                    required: true,
                    message: 'Please input Name name',
                    trigger: 'blur'
                }],
                email: [{
                        required: true,
                        message: 'Please input email address',
                        trigger: 'blur'
                    },
                    {
                        type: 'email',
                        message: 'Please input correct email address',
                        trigger: ['blur', 'change']
                    }
                ],
                address: [{
                    required: true,
                    message: 'Please Insert Address',
                    trigger: 'blur'
                }],
                password: [{
                    required: true,
                    message: 'Please Insert Password',
                    trigger: 'blur'
                }],
                role: [{
                    required: true,
                    message: 'Please Insert Role User',
                    trigger: 'blur'
                }],
            },
            role: [],
            loading: true
        }
    },
    computed: {
        ...mapGetters([
            'roles'
        ])
    },
    methods: {
        onSubmit(formName) {
            this.$refs[formName].validate((valid) => {
                if (valid) {
                    this.$confirm('Are you sure to create User?')
                        .then(() => {
                            this.createUser();
                        })
                        .catch(() => {});
                } else {
                    console.log('error submit!!');
                    return false;
                }
            });
        },
        createUser() {
            this.loading = true;
            apiCreateUser(this.form).then(response => {
                if (response.success) {
                    this.loading = false;
                    this.$message({
                        type: 'success',
                        message: 'User Created.',
                    });
                    this.clearForm();
                } else {
                    this.loading = false;
                    this.$message({
                        type: 'error',
                        message: response.message,
                    });
                }
            }).catch(error => {
                this.loading = false;
                console.log(error)
            })
        },
        clearForm() {
            this.form.name = '';
            this.form.email = '';
            this.form.phone = '';
            this.form.address = '';
            this.form.city = '';
            this.form.zip = '';
            this.form.password = '';
            this.form.role = '';
        },
    },
    mounted() {
        apiRole().then(response => {
            if (response.success) {
                this.loading = false;
                this.role = response.data;
            }
        }).catch(error => {
            this.loading = false;
            console.log(error)
        })
    }
}
</script>

<style lang="scss" scoped>
.elcast-container {
    margin: 1em;
}
</style>
