<template>
<div class="elcast-container" v-loading="loading">
    <el-card class="box-card" shadow="always">
        <el-row :gutter="15">
            <el-col :xs="24" :sm="24" :md="24" :lg="10">
                <el-card class="box-card elcast-margin-bottom-20" shadow="hover">
                    <el-col :xs="24" :sm="24" :md="12" :lg="8">
                        <app-clients :client="client" v-on:getDeviceClient="getDeviceClient" />
                    </el-col>
                    <el-col :xs="24" :sm="24" :md="12" :lg="8">
                        <app-device :device="device" v-on:getParamProperties="getParamProperties"></app-device>
                    </el-col>
                    <el-col :xs="24" :sm="24" :md="8" :lg="8">
                        <el-select 
                            v-model="paramselect" 
                            class="elcast-input"
                            placeholder="Parameter" 
                            multiple
                        >
                            <el-option v-for="item in param" :key="item" :label="item" :value="item">
                            </el-option>
                        </el-select>
                    </el-col>
                </el-card>
            </el-col>
            <el-col :xs="24" :sm="24" :md="24" :lg="14">
                <el-card class="box-card elcast-margin-bottom-20" shadow="hover">
                    <el-col :xs="24" :sm="24" :md="13" :lg="13">
                        <el-date-picker
                          v-model="datepicker"
                          type="daterange"
                          align="right"
                          start-placeholder="Start Date"
                          end-placeholder="End Date"
                          value-format="yyyy-MM-dd"
                          :default-value="new Date()">
                        </el-date-picker>
                    </el-col>
                    <el-col :xs="24" :sm="24" :md="7" :lg="7">
                        <el-select 
                            v-model="timepicker" 
                            class="elcast-input"
                            placeholder="Time" 
                            multiple
                        >
                            <el-option v-for="item in time" :key="item" :label="item" :value="item">
                            </el-option>
                        </el-select>
                    </el-col>
                    <el-col :xs="24" :sm="24" :md="4" :lg="4" class="elcast-justify-content-center">
                        <el-tooltip class="item" effect="dark" content="Download Excel" placement="bottom-start">
                            <el-button type="success" @click.prevent="exportData" icon="el-icon-download" plain></el-button>
                        </el-tooltip>
                    </el-col>
                </el-card>
            </el-col>
            <el-col :xs="24" :sm="24" :md="24" :lg="24">

            </el-col>
        </el-row>
    </el-card>
</div>
</template>
<script>
import {
    getbyuser as apiGetClient,
    getclientdevice as apiGetDeviceClient,
    downloadreportdevice2 as apiDownloadReport2
} from '@/api/client';
import appClients from './components/clients';
import appDevice from './components/device';

import {
    saveAs
} from 'file-saver';

export default {
    name: 'report',
    components: {
        appClients,
        appDevice
    },
    data() {
        return {
            loading: false,
            client: [],
            device: [],
            param: ['humidity', 'freq', 'temperature', 'voltage'],
            time: [
                '00:00', '01:00', '02:00', '03:00', '04:00', '05:00', '06:00',
                '07:00', '08:00', '09:00', '10:00', '11:00', '12:00', '13:00',
                '14:00', '15:00', '16:00', '17:00', '18:00', '19:00', '20:00',
                '21:00', '22:00', '23:00'
            ],
            clientid: '',
            clientcode: '',
            deviceselect: '',
            paramselect: [],
            datepicker: '',
            timepicker: '',
            paramexport: {},
            checked: null
        }
    },
    mounted() {
        this.getClient();
    },
    methods: {
        getClient() {
            this.loading = true;
            apiGetClient().then(response => {
                if (response.success) {
                    this.loading = false;
                    this.client = [];
                    let data = response.data;
                    for (let i in data) {
                        this.client.push({
                            clientid: data[i].clientid,
                            clientcode: data[i].clientcode,
                            clientno: data[i].clientinformation.client_no,
                            clientname: data[i].clientinformation.client_name,
                            clientsuser: data[i].clientusers,
                        })
                    }
                }
            }).catch(error => {
                this.loading = false;
                console.log(error);
                this.$message({
                    type: 'error',
                    message: 'Error Get list Client',
                });
            })
        },
        getDeviceClient(clientid, clientcode) {
            this.clientid = clientid;
            this.clientcode = clientcode;
            let params = {
                clientid
            };
            this.loading = true;
            apiGetDeviceClient(params).then(response => {
                if (response.success) {
                    for (let i in response.data) {
                        response.data[i].active = false
                    }
                    this.loading = false;
                    this.device = response.data;
                }
            }).catch(error => {
                this.loading = false;
                console.log(error);
                this.$message({
                    type: 'error',
                    message: 'Error Get Device Client',
                });
            })
        },
        getParamProperties(data) {
            this.deviceselect = data
        },
        exportData() {
            if (this.clientcode && this.deviceselect.length && 
                this.timepicker.length && (this.datepicker.length == 2) &&
                this.paramselect.length > 0) {
                apiDownloadReport2({
                    client_id: this.clientcode,
                    device_name: this.deviceselect,
                    time: this.timepicker,
                    start_date: this.datepicker[0],
                    end_date: this.datepicker[1],
                    field: this.paramselect
                }).then(response => {
                    this.loading = false;
                    saveAs(response, `report_${this.datepicker[0]} ${this.datepicker[1]}.xlsx`);
                }).catch(error => {
                    this.loading = false;
                    console.log(error);
                });
            } else {
                alert('form null')
            }
            
        }
    }
}
</script>

<style lang="scss" scoped>
.elcast-container {
    margin: 1em;
}

.elcast-margin-10 {
    margin-top: 10px;
}

.elcast-margin-bottom-20 {
    padding-bottom: 20px
}

.elcast-input-right {
    float: right;
    display: flex;
}

.padding-5 {
    padding-left: 5px;
}

.elcast-justify-content-center {
    display: flex;
    justify-content: flex-end;
}
</style>
