<template>
<div class="elcast-container">
    <el-card class="box-card" shadow="always">
        <el-row :gutter="15">
            <el-col :xs="24" :sm="24" :lg="24">
                <app-actions v-on:refreshClient="refreshClient" class="action-wrapper" />
            </el-col>
            <el-col :xs="24" :sm="24" :lg="8">
                <app-clients :list="list" class="chart-wrapper" v-on:getDetailClient="getDetailClient" />
            </el-col>
            <el-col :xs="24" :sm="24" :lg="16">
                <app-details :detail="detail" class="chart-wrapper" v-on:refreshClient="refreshClient" />
            </el-col>
        </el-row>
    </el-card>
</div>
</template>

<script>
import appActions from './components/actions';
import appClients from './components/clients';
import appDetails from './components/details';

import {
    get as apiGetClient
} from '@/api/client';
export default {
    name: 'clientRegistration',
    components: {
        appActions,
        appClients,
        appDetails
    },
    data() {
        return {
            loading: true,
            list: [],
            detail: {}
        }
    },
    mounted() {
        this.getClient();
    },
    methods: {
        getClient() {
            apiGetClient().then(response => {
                if (response.success) {
                    this.loading = false;
                    this.list = [];
                    let data = response.data;
                    for (let i in data) {
                        this.list.push({
                            clientid: data[i].clientid,
                            clientcode: data[i].clientcode,
                            clientno: data[i].clientinformation.client_no,
                            clientname: data[i].clientinformation.client_name,
                            clientsuser: data[i].clientusers,
                        })
                    }
                }
            }).catch(error => {
                this.loading = false;
                console.log(error);
                this.$message({
                    type: 'error',
                    message: 'Error Get list data user',
                });
            })
        },
        refreshClient() {
            this.getClient();
        },
        getDetailClient(data) {
            this.detail = data;
        }
    },
}
</script>

<style lang="scss" scoped>
.elcast-container {
    margin: 1em;
}
</style>
