<template>
<div class="elcast-container" v-loading="loading">
    <el-card class="box-card" shadow="always">
        <el-row :gutter="15">
            <el-col :xs="24" :sm="24" :md="8" :lg="8">
                <app-clients :client="client" v-on:getFloorClient="getFloorClient" />
                <app-floors :floor="floor" v-on:getFloorDevice="getFloorDevice" />
            </el-col>
            <el-col :xs="24" :sm="24" :md="16" :lg="16">
                <app-chart :chartdata="chartdata" v-on:getDateRange="getDateRange"></app-chart>
            </el-col>
        </el-row>
    </el-card>
</div>
</template>

<script>
import {
    getbyuser as apiGetClient,
    getfloorclient as apiGetFloorClient,
    getappliancefloor as apiGetApplianceFloor,
} from '@/api/client';
import appClients from './components/clients';
import appFloors from './components/floors';
import appChart from './components/chart';
import moment from 'moment';

export default {
    name: 'floorpowerusage',
    components: {
        appClients,
        appFloors,
        appChart
    },
    data() {
        return {
            loading: false,
            client: [],
            floor: [],
            device: [],
            clientid: '',
            floorid: '',
            daterange: 'hourly',
            chartdata: {
                label: '',
                labels: [],
                data: []
            }
        }
    },
    mounted() {
        this.getClient();
    },
    methods: {
        getClient() {
            this.loading = true;
            apiGetClient().then(response => {
                if (response.success) {
                    this.loading = false;
                    this.client = [];
                    let data = response.data;
                    for (let i in data) {
                        this.client.push({
                            clientid: data[i].clientid,
                            clientcode: data[i].clientcode,
                            clientno: data[i].clientinformation.client_no,
                            clientname: data[i].clientinformation.client_name,
                            clientsuser: data[i].clientusers,
                        })
                    }
                }
            }).catch(error => {
                this.loading = false;
                console.log(error);
                this.$message({
                    type: 'error',
                    message: 'Error Get list Client',
                });
            })
        },
        getFloorClient(clientid) {
            this.clientid = clientid;
            let params = {
                clientid
            };
            this.loading = true;
            apiGetFloorClient(params).then(response => {
                if (response.success) {
                    this.loading = false;
                    for (let i in response.data) {
                        response.data[i].active = false
                    }
                    this.floor = response.data;
                }
            }).catch(error => {
                this.loading = false;
                console.log(error);
                this.$message({
                    type: 'error',
                    message: 'Error Get Floor Client',
                });
            })
        },
        getFloorDevice(floorid) {
            this.floorid = floorid
        },
        getDateRange(daterange) {
            this.daterange = daterange
        },
        generateChart() {
            let daterange = this.daterange,
                floorid = this.floorid;

            let params = {
                floorid,
                daterange
            };
            this.loading = true;
            apiGetApplianceFloor(params).then(response => {
                if (response.success) {
                    this.loading = false;
                    let labels_ = [],
                        data_ = [];
                    switch (daterange) {
                        case 'hourly':
                            for (let i in response.data) {
                                let date = this.getHour(response.data[i].time);
                                labels_.push(date)
                                data_.push(response.data[i].value)
                            }
                            break;
                        case 'daily':
                            for (let i in response.data) {
                                let date = this.getDay(response.data[i].time);
                                labels_.push(date)
                                data_.push(response.data[i].value)
                            }
                            break;
                        case 'monthly':
                            for (let i in response.data) {
                                let date = this.getMonth(response.data[i].time);
                                labels_.push(date)
                                data_.push(response.data[i].value)
                            }
                            break;
                        case 'yearly':
                            for (let i in response.data) {
                                let date = this.getYear(response.data[i].time);
                                labels_.push(date)
                                data_.push(response.data[i].value)
                            }
                            break;
                        default:
                            break;
                    }
                    this.chartdata.label = this.daterange;
                    this.chartdata.labels = labels_;
                    this.chartdata.data = data_;
                }
            }).catch(error => {
                this.loading = false;
                console.log(error);
                this.$message({
                    type: 'error',
                    message: 'Error Get Data Chart Floor',
                });
            })

        },
        getHour(timestamp) {
            return moment(timestamp).format('h a');
        },
        getDay(timestamp) {
            return moment(timestamp).format('MMM Do');
        },
        getMonth(timestamp) {
            return moment(timestamp).format('MMM YY');
        },
        getYear(timestamp) {
            return moment(timestamp).format('YYYY');
        },
    },
    watch: {
        floorid: function () {
            this.generateChart()
        },
        daterange: function () {
            this.generateChart()
        }
    },
}
</script>

<style lang="scss" scoped>
.elcast-container {
    margin: 1em;
}
</style>
