<template>
<div>
    <p class="elcast-label">{{details.name}}</p>
    <div class="elcast-divider"></div>
    <component :is="details.view" class="wrapper" :data="details.data" :update="details.update" :chart="details.chart"></component>
</div>
</template>

<script>
import barChart from './chart/barChart'
import lineChart from './chart/lineChart.js'
import doughnutChart from './chart/doughnutChart.js'
import polarChart from './chart/polarChart.js'
import horizontalBarChart from './chart/horizontalBarChart.js'
import labels from './addons/labels'

export default {
    name: 'card',
    components: {
        barChart,
        horizontalBarChart,
        lineChart,
        doughnutChart,
        polarChart,
        labels,
    },
    props: {
        details: {
            type: Object,
            required: true
        },
    },
    data() {
        return {

        }
    },
}
</script>

<style lang="scss" scoped>
.wrapper {
    margin-top: 5px;
    position: relative;
    height: 85%;
    width: 100%;
}

.elcast-input {
    width: 100%;
}

.elcast-radio {
    margin-top: 15px;
}

.elcast-label{
    margin: 5px;
}

.elcast-divider{
    display: block;
    height: 2px;
    width: 100%;
    background: rgba(83, 83, 83, 0.319);
}

.elcast-date {
    position: relative;
    float: right;
    margin: 10px 10px 15px 10px;
}
</style>
