<template>
<div class="elcast-radio">
    <el-radio-group v-model="dateRange" size="small">
        <el-radio-button label="hourly">Today</el-radio-button>
        <el-radio-button label="daily">Daily</el-radio-button>
        <el-radio-button label="monthly">Monthly</el-radio-button>
        <el-radio-button label="yearly">Yearly</el-radio-button>
    </el-radio-group>
    <p class="elcast-date">{{ date }}</p>
</div>
</template>

<script>
import moment from 'moment';
export default {
    name: 'date',
    data() {
        return {
            dateRange: 'hourly',
            date: moment().format('MMMM Do YYYY, h:mm:ss a')
        }
    },
    beforeMount() {
        setInterval(() => {
            this.date = moment().format('MMMM Do YYYY, h:mm:ss a')
        }, 1000)
    },
    watch: {
        dateRange: function () {
            this.$emit('getDateRange', this.dateRange)
        },
    },
}
</script>

<style lang="scss" scoped>
.elcast-input {
    width: 100%;
}

.elcast-radio {
    margin: 10px 0px 0 15px;
}

.elcast-date {
    position: relative;
    float: right;
    margin: 10px 10px 15px 10px;
}
</style>
