<template>
<div class="">
    <el-select v-model="deviceselect" placeholder="Device">
        <el-option v-for="(item,index) in device" :key="item.id" :label="item.description" :value="index">
            <span style="float: left">{{ item.description }}</span>
            <span style="float: right">
                <svg-icon :icon-class="item.type.icon" class-name='icon-type' />
            </span>
        </el-option>
    </el-select>
</div>
</template>

<script>
import io from "socket.io-client";
import moment from 'moment';
export default {
    name: 'floors',
    data() {
        return {
            deviceselect: '',
            socket: {},
            search: '',
            datacollection: {},
            labels: {},
            data: {},
            paramproperties: [],
            total: null,
            paramsocket: {}
        }
    },
    props: {
        device: {
            type: Array,
            required: true
        },
        valueproperties: {
            type: String,
        },
        daterange: {
            required: true
        },
        date: {
            required: false
        }
    },
    created() {
        this.socket = io.connect(process.env.VUE_APP_BASE_SOCKET);
    },
    mounted() {
        this.getRealtimeData();
    },
    methods: {
        fillData() {
            this.datacollection = {
                label: this.labels[this.valueproperties],
                series: [{
                    name: 'Device',
                    data: this.data[this.valueproperties],
                }]
            };
            console.log(this.datacollection)
            this.$emit('chartData', this.datacollection)
        },
        emptyData() {
            this.labels = {};
            this.data = {};
            this.datacollection = {
                labels: [],
                datasets: [{
                    label: "Device",
                    backgroundColor: "#1A73E8",
                    data: []
                }]
            };
            this.$emit('chartData', this.datacollection)
        },
        getRealtimeData() {
            this.socket.on("realtime/device", fetchedData => {
                if (!this.total) {
                    this.total = fetchedData.total | 10;
                }
                if (this.paramproperties.length == 0) {
                    this.paramproperties = fetchedData.param
                    this.$emit('getParamProperties', this.paramproperties)
                }

                for (let i in this.paramproperties) {
                    if (typeof this.labels[this.paramproperties[i]] === 'undefined') {
                        this.labels[this.paramproperties[i]] = []
                        this.data[this.paramproperties[i]] = []
                    }
                    if (this.labels.length > this.total) {
                        this.labels[this.paramproperties[i]].shift();
                        this.data[this.paramproperties[i]].shift();
                    }
                    this.labels[this.paramproperties[i]].push(this.getTime(fetchedData.value['time']));
                    this.data[this.paramproperties[i]].push(fetchedData.value[this.paramproperties[i]]);
                }
                if (this.valueproperties !== '') {
                    this.fillData()
                }
            })
        },
        getDataDevice(item) {
            if ((this.daterange != 'date') || (this.daterange == 'date' && this.date != null)) {
                this.paramsocket = {
                    deviceName: item.deviceid,
                    daterange: this.daterange,
                    date: this.date
                }
                this.$emit('paramsocket', this.paramsocket)
                this.socket.emit('realtime/device', this.paramsocket)
                this.selectDevice(item)
            }
        },
        getTime(timestamp) {
            // const offset = new Date().getTimezoneOffset() * 60 * 1000;
            return moment(timestamp).format('YYYY-MM-DD HH:mm');
        },
        selectDevice(item) {
            this.emptyData()
            for (let i in this.device) {
                if (this.device[i].deviceid != item.deviceid) {
                    this.device[i].active = false
                } else {
                    this.device[i].active = true
                }
            }
        }
    },
    watch: {
        valueproperties: function () {
            this.fillData()
        },
        deviceselect: function (val) {
            let item = this.device[val];
            this.getDataDevice(item);
        },
        daterange: function () {
            this.total = null;
            let item = this.device[this.deviceselect]
            this.getDataDevice(item)
        },
        date: function () {
            this.total = null;
            let item = this.device[this.deviceselect]
            this.getDataDevice(item)
        },
        device: function(val) {
            if (val.length && this.deviceselect == '') {
                this.deviceselect = 0;
            }
        }
    },
    beforeDestroy() {
        this.socket.emit('realtime/closedevice', {})
        this.socket.disconnect();
    },
}
</script>

<style lang="scss">

</style>
