<template>
    <apexchart type="radialBar" height="300" :options="chartOptions" :series="series" />
</template>

<script>
import VueApexCharts from 'vue-apexcharts';
export default {
    components: {
        apexchart: VueApexCharts
    },
    props: {
        series: {
            type: [Array],
        },
        label: {
            type: [Array]
        },
    },
    data() {
        return {
            chartOptions: {
                colors: ['#FEA94E'],
                plotOptions: {
                    radialBar: {
                        startAngle: -110,
                        endAngle: 110,
                        track: {
                            background: '#EEEEEE',
                            startAngle: -110,
                            endAngle: 110,
                        },
                        dataLabels: {
                            name: {
                                show: false,
                            },
                            value: {
                                fontSize: "24px",
                                color: "#FEA94E",
                                fontWeight: "500",
                                fontFamily: "'Rubik', sans-serif",
                                show: true,
                                formatter: function (val) {
                                  return val + " rh%";
                                }
                            }
                        }
                    }
                },
            },
            stroke: {
               lineCap: "butt"
            },
            labels: ["Temperature"]
        }
    },
    methods: {
        // updateSeriesLine() {
        //     this.chartOptions.xaxis.categories = ['03:13:39'];
        //     this.$refs.realtimeChart.updateOptions({
        //         xaxis: {
        //             categories: this.label,
        //             labels: {
        //                 style: {
        //                     colors: '#303133',
        //                 },
        //             },
        //         },
        //     }, false, true);
        //     this.$refs.realtimeChart.updateSeries(this.series, false, true);
        // },
    },
    watch:{
        // series: {
        //     handler() {
        //         this.updateSeriesLine()
        //     },
        //     deep: true
        // }
    }
}
</script>
