<template>
    <apexchart type="radialBar" height="300" :options="chartOptions" :series="series" />
</template>

<script>
import VueApexCharts from 'vue-apexcharts';
export default {
    components: {
        apexchart: VueApexCharts
    },
    props: {
        series: {
            type: [Array],
        },
        label: {
            type: [Array]
        },
    },
    data() {
        return {
            labelvalue : 0,
            realValue  : 0,
            chartOptions: {
                colors: ['#F28483'],
                plotOptions: {
                    radialBar: {
                        startAngle: -110,
                        endAngle: 110,
                        track: {
                            background: '#EEEEEE',
                            startAngle: -110,
                            endAngle: 110,
                        },
                        dataLabels: {
                            name: {
                                show: false,
                            },
                            value: {
                                fontSize: "24px",
                                color: "#F28483",
                                fontWeight: "500",
                                fontFamily: "'Rubik', sans-serif",
                                show: true,
                                formatter: function (val) {
                                    let value  = parseInt((val /100) * 250)
                                  return  value + '°V'
                                }
                            }
                        }
                    }
                },
            },
            stroke: {
               lineCap: "butt"
            },
            labels: ["Voltage"]
        }
    },
    methods: {
        updateSeries(val) {
            let valseries = (val[0] / 250) * 100;
            this.series[0] = parseInt(valseries)
        },
    },
    watch:{
        series: {
            handler(val) {
                if (val[0]  != 0) {
                    this.updateSeries(val)
                }
            },
            deep: true
        }
    }
}
</script>
