<template>
<div class="elcast-label">
    <span>{{ data }}</span>
</div>
</template>

<script>
export default {
    name: 'date',
    data() {
        return {

        }
    },
    props: {
        data: {
            type: String
        },
    },
}
</script>

<style lang="scss" scoped>
.elcast-input {
    width: 100%;
}

.elcast-radio {
    margin-top: 15px;
}
.elcast-label{
    margin-top: 10px;
    height: 90%;
    text-align: center; 
}

.elcast-date {
    position: relative;
    float: right;
    margin: 10px 10px 15px 10px;
}
</style>
