<template>
<div class="dashboard-container">
    <component :is="currentDashboard"></component>
</div>
</template>

<script>
import {
    mapGetters
} from 'vuex';
import administratorDashboard from './administrator';
import telkomDashboard from './telkom-dashboard';
import elsaDashboard from './elsa-dashboard';
export default {
    name: 'Dashboard',
    components: {
        administratorDashboard,
        telkomDashboard,
        elsaDashboard
    },
    data() {
        return {
            currentDashboard: ''
        }
    },
    computed: {
        ...mapGetters([
            'roles', 'dashboards'
        ])
    },
    created() {
        if (this.roles.includes('administrator') && this.dashboards.length) {
            this.currentDashboard = this.dashboards[0];
        } else {
            this.currentDashboard = '';
        }
    }
}
</script>
