<template>
<el-card shadow="hover" class="elcast-margin-10" v-loading="loading">
    <div class="elcast-heading">
        <p>Cost By Floor</p>
    </div>
    <div class="elcast-radio">
        <el-radio-group v-model="dateRange" size="small">
            <el-radio-button label="daily">Today</el-radio-button>
            <el-radio-button label="monthly">Month</el-radio-button>
            <el-radio-button label="yearly">Year</el-radio-button>
        </el-radio-group>
    </div>
    <el-divider></el-divider>
    <perfect-scrollbar class="elcast-scroll">
        <el-table :data="floors" :default-sort="{prop: 'cost', order: 'descending'}" style="width: 100%">
            <el-table-column prop="floor" label="Floor" sortable>
            </el-table-column>
            <el-table-column prop="cost" label="price (IDR)" sortable>
            </el-table-column>
        </el-table>
    </perfect-scrollbar>
</el-card>
</template>

<script>
import {
    priceFormat
} from '@/utils';
import {
    getusageperfloor as apiGetUsagePerFloor
} from '@/api/client';
export default {
    data() {
        return {
            dateRange: 'daily',
            floors: [],
            loading: false
        }
    },
    mounted() {
        this.getusageperfloor();
    },
    methods: {
        getusageperfloor() {
            let params = {
                daterange: this.dateRange
            };
            this.loading = true;
            this.floors = [];
            apiGetUsagePerFloor(params).then(response => {
                this.loading = false;
                if (response.success) {
                    let floor = response.data;
                    floor.map(item => {
                        this.floors.push({
                            floor: item.floor,
                            currency: item.currency,
                            value: item.value,
                            cost: priceFormat(item.cost)
                        })
                    })
                }
            }).catch(() => {
                this.loading = false;
                this.$message({
                    type: 'error',
                    message: 'Error get Change Usage Per Floor',
                });
            })
        }
    },
    watch: {
        dateRange: function () {
            this.getusageperfloor();
        }
    },
}
</script>

<style lang="scss" scoped>
.elcast-margin-10 {
    margin-top: 10px;
}

.elcast-heading {
    float: left;
    margin-top: -4px;
    display: grid;
    font-weight: bold;
    font-size: small;
}

.elcast-scroll {
    height: 200px;
    overflow-y: hidden;
}

.elcast-radio {
    display: grid;
    text-align: right;
}

.elcast-row {
    position: relative;
}

.elcast-row-header {
    float: left;
    width: 70%;
}

.elcast-row-body {
    float: right;
    width: 30%;
    text-align: right;
}
</style>
