<template>
<el-card shadow="hover" class="elcast-margin-10" v-loading="loading">
    <div class="elcast-heading">
        <p>Cost By Device</p>
    </div>
    <div class="elcast-radio">
        <el-radio-group v-model="dateRange" size="small">
            <el-radio-button label="daily">Today</el-radio-button>
            <el-radio-button label="monthly">Month</el-radio-button>
            <el-radio-button label="yearly">Year</el-radio-button>
        </el-radio-group>
    </div>
    <el-divider></el-divider>
    <perfect-scrollbar class="elcast-scroll">
        <el-table :data="devices" :default-sort="{prop: 'value', order: 'descending'}" style="width: 100%">
            <el-table-column prop="device" label="Device" sortable>
            </el-table-column>
            <el-table-column prop="cost" label="Cost (IDR)" sortable>
            </el-table-column>
        </el-table>
    </perfect-scrollbar>
</el-card>
</template>

<script>
import {
    priceFormat
} from '@/utils';
import {
    getusageperdevice as apiGetUsagePerDevice
} from '@/api/client';
export default {
    data() {
        return {
            dateRange: 'daily',
            devices: [],
            loading: false
        }
    },
    mounted() {
        this.getusageperdevice()
    },
    methods: {
        getusageperdevice() {
            let params = {
                daterange: this.dateRange
            }
            this.loading = true;
            this.devices = [];
            apiGetUsagePerDevice(params).then(response => {
                this.loading = false
                if (response.success) {
                    let device = response.data
                    device.map(item => {
                        this.devices.push({
                            device: item.device,
                            currency: item.currency,
                            value: item.value,
                            cost: priceFormat(item.cost)
                        })
                    })
                }
            }).catch(error => {
                console.log(error);
                this.loading = false
                this.$message({
                    type: 'error',
                    message: 'Error get Change Usage Per Device',
                });
            })
        },
    },
    watch: {
        dateRange: function () {
            this.getusageperdevice();
        }
    },
}
</script>

<style lang="scss" scoped>
.elcast-margin-10 {
    margin-top: 10px;
}

.elcast-heading {
    float: left;
    margin-top: -4px;
    display: grid;
    font-weight: bold;
    font-size: small;
}

.elcast-scroll {
    height: 200px;
    overflow-y: hidden;
}

.elcast-radio {
    display: grid;
    text-align: right;
}

.elcast-row {
    position: relative;
}

.elcast-row-header {
    float: left;
    width: 70%;
}

.elcast-row-body {
    float: right;
    width: 30%;
    text-align: right;
}
</style>
