<template>
<el-card shadow="hover" class="elcast-margin-10">
    <el-row :gutter="20">
        <el-col :span="6">
            <div class="grid-content">
                <p class="elcast-heading">Last Month</p>
                <p class="elcast-content">200K Rupiah</p>
            </div>
        </el-col>
        <el-col :span="6">
            <div class="grid-content">
                <p class="elcast-heading">So Far This Month</p>
                <p class="elcast-content">200K Rupiah</p>
            </div>
        </el-col>
        <el-col :span="6">
            <div class="grid-content">
                <p class="elcast-heading">Predicted This Month</p>
                <p class="elcast-content">200K Rupiah</p>
            </div>
        </el-col>
        <el-col :span="6">
            <div class="grid-content">
                <p class="elcast-heading">Estimated Savings</p>
                <p class="elcast-content">200K Rupiah</p>
            </div>
        </el-col>
    </el-row>
    <el-divider></el-divider>
    <div class="elcast-radio">
        <el-radio-group v-model="dateRange" size="small">
            <el-radio-button label="daily">Daily</el-radio-button>
            <el-radio-button label="monthly">Monthly</el-radio-button>
            <el-radio-button label="yearly">Yearly</el-radio-button>
        </el-radio-group>
    </div>
    <app-chart :chart="chart" :update="update" class="elcast-bar-chart" v-loading="loading"></app-chart>
</el-card>
</template>

<script>
import {
    getchangeincost as apiGetChangeInCost
} from '@/api/client';
import appChart from './chart/barChart.js';
import moment from 'moment';

export default {
    data() {
        return {
            dateRange: 'daily',
            chart: {
                labels: [],
                datasets: [{
                    label: 'Total Cost',
                    borderColor: '#2554FF',
                    backgroundColor: '#2554FF',
                    borderWidth: 1,
                    pointBorderColor: '#2554FF',
                    data: []
                }]
            },
            update: new Date(),
            loading: false
        }
    },
    components: {
        appChart
    },
    mounted() {
        this.getchangeincost()
    },
    watch: {
        dateRange: function () {
            this.getchangeincost()
        }
    },
    methods: {
        getchangeincost() {
            let params = {
                    daterange: this.dateRange
                },
                daterange = this.dateRange;
            this.loading = true
            apiGetChangeInCost(params).then(response => {
                this.loading = false
                if (response.success) {
                    let labels_ = [],
                        data_ = [];
                    console.log(daterange)
                    switch (daterange) {
                        case 'daily':
                            for (let i in response.data) {
                                let date = this.getDay(response.data[i].time);
                                labels_.push(date)
                                data_.push(response.data[i].cost)
                            }
                            break;
                        case 'monthly':
                            for (let i in response.data) {
                                let date = this.getMonth(response.data[i].time);
                                labels_.push(date)
                                data_.push(response.data[i].cost)
                            }
                            break;
                        case 'yearly':
                            for (let i in response.data) {
                                let date = this.getYear(response.data[i].time);
                                labels_.push(date)
                                data_.push(response.data[i].cost)
                            }
                            break;
                        default:
                            break;
                    }
                    this.chart.labels = labels_
                    this.chart.datasets[0].label = this.dateRange
                    this.chart.datasets[0].data = data_
                    this.update = new Date()
                }   
                console.log(this.chart)
            }).catch(() => {
                this.loading = false
                this.$message({
                    type: 'error',
                    message: 'Error get Change In Cost',
                });
            })
        },
        updateChart() {
            this.update = new Date()
        },
        getDay(timestamp) {
            return moment(timestamp).format('MMM Do');
        },
        getMonth(timestamp) {
            return moment(timestamp).format('MMM YY');
        },
        getYear(timestamp) {
            return moment(timestamp).format('YYYY');
        },
    },
}
</script>

<style lang="scss" scoped>
.elcast-margin-10 {
    margin-top: 10px;
}

.el-row {
    margin-bottom: 20px;

    &:last-child {
        margin-bottom: 0;
    }
}

.el-col {
    border-radius: 4px;
}

.grid-content {
    border-radius: 4px;
    min-height: 36px;
    border: 1px solid rgb(196, 194, 194);
}

.elcast-heading {
    text-align: center;
    font-size: small;
}

.elcast-content {
    text-align: center;
    font-weight: bold;
}

.elcast-radio {
    display: grid;
    text-align: right;
}

.elcast-bar-chart {
    height: 250px;
}
</style>
