<template>
<div class="login-container">
    <el-row :gutter="20">
        <el-col :xs="24" :sm="16" :md="16" :lg="16" class="login-banner">
            <el-image style="width: 100%; height: 90vh; padding: 20px" :src="banner.url" :fit="banner.fit" lazy></el-image>
        </el-col>
        <el-col :xs="24" :sm="8" :md="8" :lg="8">
            <el-form ref="loginForm" :model="loginForm" :rules="loginRules" class="login-form" autocomplete="on" label-position="left">
                <div class="title-container">
                    <el-image class="title-logo" :src="logo.url" :fit="logo.fit" lazy></el-image>
                    <h3 class="title">Sign in Calathu</h3>
                    <p class="title-child">Please enter your credentials to proceed</p>
                </div>

                <el-form-item prop="username">
                    <span class="svg-container">
                        <svg-icon icon-class="user" />
                    </span>
                    <el-input ref="username" v-model="loginForm.username" placeholder="Email" name="username" type="text" tabindex="1" autocomplete="on" />
                </el-form-item>

                <el-tooltip v-model="capsTooltip" content="Caps lock is On" placement="right" manual>
                    <el-form-item prop="password">
                        <span class="svg-container">
                            <svg-icon icon-class="password" />
                        </span>
                        <el-input :key="passwordType" ref="password" v-model="loginForm.password" :type="passwordType" placeholder="Password" name="password" tabindex="2" autocomplete="on" @keyup.native="checkCapslock" @blur="capsTooltip = false" @keyup.enter.native="handleLogin" />
                        <span class="show-pwd" @click="showPwd">
                            <svg-icon :icon-class="passwordType === 'password' ? 'eye' : 'eye-open'" />
                        </span>
                    </el-form-item>
                </el-tooltip>
                <el-button :loading="loading" type="primary" style="width:100%;margin-bottom:30px;" @click.native.prevent="handleLogin">Login</el-button>
            </el-form>
        </el-col>
    </el-row>
</div>
</template>

<script>
import {
    validEmail
} from '@/utils/validate'
import {
    Message
} from 'element-ui'

export default {
    name: 'Login',
    data() {
        const validateUsername = (rule, value, callback) => {
            if (!validEmail(value)) {
                callback(new Error('Please enter the correct user name'))
            } else {
                callback()
            }
        }
        const validatePassword = (rule, value, callback) => {
            if (value.length < 5) {
                callback(new Error('The password can not be less than 5 digits'))
            } else {
                callback()
            }
        }
        return {
            loginForm: {
                username: '',
                password: ''
            },
            loginRules: {
                username: [{
                    required: true,
                    trigger: 'blur',
                    validator: validateUsername
                }],
                password: [{
                    required: true,
                    trigger: 'blur',
                    validator: validatePassword
                }]
            },
            passwordType: 'password',
            capsTooltip: false,
            loading: false,
            showDialog: false,
            redirect: undefined,
            otherQuery: {},
            banner: {
                fit: 'contain',
                url: './assets/icons/login.svg'
            },
            logo: {
                fit: 'contain',
                url: './assets/icons/Logo Calathu Color.svg'
            }
        }
    },
    watch: {
        $route: {
            handler: function (route) {
                const query = route.query
                if (query) {
                    this.redirect = query.redirect
                    this.otherQuery = this.getOtherQuery(query)
                }
            },
            immediate: true
        }
    },
    mounted() {
        if (this.loginForm.username === '') {
            this.$refs.username.focus()
        } else if (this.loginForm.password === '') {
            this.$refs.password.focus()
        }
    },
    methods: {
        checkCapslock(e) {
            const {
                key
            } = e
            this.capsTooltip = key && key.length === 1 && (key >= 'A' && key <= 'Z')
        },
        showPwd() {
            if (this.passwordType === 'password') {
                this.passwordType = ''
            } else {
                this.passwordType = 'password'
            }
            this.$nextTick(() => {
                this.$refs.password.focus()
            })
        },
        handleLogin() {
            this.$refs.loginForm.validate(valid => {
                if (valid) {
                    this.loading = true
                    this.$store.dispatch('user/login', this.loginForm)
                        .then((data) => {
                            if (data) {
                                this.loading = false
                                this.$message({
                                    type: 'error',
                                    message: data.message,
                                });
                                return;
                            }
                            this.$router.push({
                                path: this.redirect || '/',
                                query: this.otherQuery
                            })
                            this.loading = false
                        })
                        .catch(() => {
                            this.loading = false
                        })
                } else {
                    Message({
                        message: 'Failed login',
                        type: 'error',
                        duration: 5 * 1000
                    })
                    return false
                }
            })
        },
        getOtherQuery(query) {
            return Object.keys(query).reduce((acc, cur) => {
                if (cur !== 'redirect') {
                    acc[cur] = query[cur]
                }
                return acc
            }, {})
        }
    }
}
</script>

<style lang="scss">
$bg:#FCFBFD;
$light_gray:rgb(126, 126, 126);
$cursor: rgb(126, 126, 126);
@supports (-webkit-mask: none) and (not (cater-color: $cursor)) {
    .login-container .el-input input {
        color: $cursor;
    }
}

/* reset element-ui css */
.login-container {
    .el-input {
        display: inline-block;
        height: 47px;
        width: 85%;

        input {
            background: transparent;
            border: 0px;
            -webkit-appearance: none;
            border-radius: 0px;
            padding: 12px 5px 12px 15px;
            color: $light_gray;
            height: 47px;
            caret-color: $cursor;

            &:-webkit-autofill {
                box-shadow: 0 0 0px 1000px $bg inset !important;
                -webkit-text-fill-color: $cursor !important;
            }
        }
    }

    .el-form-item {
        border: 1px solid rgba(255, 255, 255, 0.1);
        background: rgba(193, 191, 191, 0.1);
        border-radius: 5px;
        color: #454545;

    }
}
</style><style lang="scss" scoped>
$bg:#FCFBFD;
$dark_gray:#889aa4;
$light_gray:#eee;

.login-container {
    min-height: 100%;
    width: 100%;
    background-color: $bg;
    overflow: hidden;
    font-family: 'Work Sans', sans-serif;

    .login-banner {
        height: 100vh;
        background: #eef4fe;
    }

    .login-form {
        position: relative;
        width: 520px;
        max-width: 100%;
        padding: 160px 35px 0;
        margin: 0 auto;
        overflow: hidden;
    }

    .tips {
        font-size: 14px;
        color: #fff;
        margin-bottom: 10px;

        span {
            &:first-of-type {
                margin-right: 16px;
            }
        }
    }

    .svg-container {
        padding: 6px 5px 6px 15px;
        color: $dark_gray;
        vertical-align: middle;
        width: 30px;
        display: inline-block;
    }

    .title-container {
        position: relative;

        .title-logo {
            width: 50%;
            display: block;
            margin: auto;
        }

        .title {
            font-size: 20px;
            color: $dark_gray;
            margin: 10px auto 5px auto;
            text-align: center;
            font-weight: bold;
        }

        .title-child {
            font-size: 16px;
            color: $dark_gray;
            margin: 0px auto 30px auto;
            text-align: center;
            font-weight: bold;
        }
    }

    .show-pwd {
        position: absolute;
        right: 10px;
        top: 7px;
        font-size: 16px;
        color: $dark_gray;
        cursor: pointer;
        user-select: none;
    }

    .thirdparty-button {
        position: absolute;
        right: 0;
        bottom: 6px;
    }

    @media only screen and (max-width: 470px) {
        .thirdparty-button {
            display: none;
        }

        .login-banner {
            display: none;
        }
    }
}
</style>
