<template>
<div class="dashboard-container">
    <component :is="currentRole"></component>
</div>
</template>

<script>
import {
    mapGetters
} from 'vuex'
import administratorDashboard from './administrator'
import clientDashboard from './client'
export default {
    name: 'Dashboard',
    components: {
        administratorDashboard,
        clientDashboard
    },
    data() {
        return {
            currentRole: ''
        }
    },
    computed: {
        ...mapGetters([
            'roles'
        ])
    },
    created() {
        if (this.roles.includes('administrator')) {
            this.currentRole = 'clientDashboard'
        }
    }
}
</script>
