<template>
<div>
    <el-card class="box-card" shadow="hover">
        <el-button type="primary" @click.prevent="addDevice" class="new-device" icon="el-icon-cpu">Add New Device</el-button>
    </el-card>
    <el-dialog title="New Device" :visible.sync="dialogFormVisible" :width="css.dialogWidth">
        <el-form :model="formvalidation" :rules="rules" ref="formvalidation" label-width="120px">
            <el-form-item label="Name" prop="name">
                <el-input v-model="formvalidation.name" clearable></el-input>
            </el-form-item>
            <el-form-item label="Description" prop="description">
                <el-input v-model="formvalidation.description" clearable></el-input>
            </el-form-item>
            <el-form-item label="Type" prop="type">
                <el-select v-model="formvalidation.type" placeholder="Select">
                    <el-option v-for="item in type" :key="item.id" :label="item.description" :value="item.id">
                        <span style="float: left">{{ item.description }}</span>
                        <span style="float: right">
                            <svg-icon :icon-class="item.icon" class-name='icon-type' />
                        </span>
                    </el-option>
                </el-select>
            </el-form-item>
            <el-form-item label="Device ID" prop="deviceid">
                <el-input v-model="formvalidation.deviceid" clearable></el-input>
            </el-form-item>
            <el-form-item label="Device EUI" prop="deviceeui">
                <el-input v-model="formvalidation.deviceeui" clearable></el-input>
            </el-form-item>
            <el-form-item label="Device Name" prop="devicename">
                <el-input v-model="formvalidation.devicename" clearable></el-input>
            </el-form-item>
            <el-form-item label="Floor" v-show="showfloor" prop="floorid">
                <el-select v-model="formvalidation.floorid" placeholder="Select" v-show="checkfloor">
                    <el-option v-for="item in floor" :key="item.id" :label="item.description" :value="item.id">
                    </el-option>
                </el-select>
                <el-button type="primary" @click="addFloor" icon="el-icon-plus" class="elcast-btn-add" circle></el-button>
            </el-form-item>
            <el-form-item label="New Floor" v-show="!showfloor" prop="floor">
                <el-input v-model="formvalidation.floor" clearable></el-input>
            </el-form-item>
            <el-form-item label="Description" v-show="!showfloor" prop="floordescription">
                <el-input v-model="formvalidation.floordescription" clearable></el-input>
            </el-form-item>
        </el-form>
        <span slot="footer" class="dialog-footer">
            <el-button @click="resetField">Cancel</el-button>
            <el-button type="primary" :loading="loading" @click.prevent="submitNewDevice('formvalidation')" icon="el-icon-document-add">{{ status }}</el-button>
        </span>
    </el-dialog>
</div>
</template>

<script>
import {
    createdevice as apiCreateDevice,
    gettypedevice as apiTypeDevice
} from '@/api/client';
export default {
    name: 'actions',
    data() {
        let
            validatefloorid = (rule, value, callback) => {
                if (this.showfloor && value == '') {
                    callback(new Error('Please Select Floor'));
                } else {
                    callback();
                }
            },
            validatefloor = (rule, value, callback) => {
                if (!this.showfloor && value == '') {
                    callback(new Error('Please Insert Floor'));
                } else {
                    callback();
                }
            },
            validatefloordescription = (rule, value, callback) => {
                if (!this.showfloor && value == '') {
                    callback(new Error('Please Insert Floor Description'));
                } else {
                    callback();
                }
            };
        return {
            loading: false,
            status: 'Waiting....',
            dialogFormVisible: false,
            checkfloor: true,
            showfloor: true,
            type: [],
            form: {
                device: {
                    clientid: '',
                    name: '',
                    description: '',
                    type: '',
                    deviceid: '',
                    deviceeui :'',
                    devicename: '',
                    deviceparser: ''
                },
                floor: {
                    id: '',
                    clientid: '',
                    floor: '',
                    description: '',
                }
            },
            formvalidation: {
                name: '',
                description: '',
                type: '',
                deviceid: '',
                deviceeui: '',
                devicename: '',
                floorid: '',
                floor: '',
                floordescription: ''
            },
            rules: {
                name: [{
                    required: true,
                    message: 'Please input name device',
                    trigger: 'blur'
                }],
                description: [{
                    required: true,
                    message: 'Please input decription device',
                    trigger: 'blur'
                }],
                type: [{
                    required: true,
                    message: 'Please input type device',
                    trigger: 'blur'
                }],
                deviceid: [{
                    required: true,
                    message: 'Please input device ID',
                    trigger: 'blur'
                }],
                deviceeui: [{
                    required: true,
                    message: 'Please input device EUI',
                    trigger: 'blur'
                }],
                devicename: [{
                    required: true,
                    message: 'Please input Device Name',
                    trigger: 'blur'
                }],
                floorid: [{
                    validator: validatefloorid,
                    trigger: 'blur'
                }],
                floor: [{
                    validator: validatefloor,
                    trigger: 'blur'
                }],
                floordescription: [{
                    validator: validatefloordescription,
                    trigger: 'blur'
                }],
            },
            css: {
                dialogWidth: '90%'
            },
        }
    },
    props: {
        clientid: {
            type: [String, Number],
            required: false
        },
        floor: {
            type: [Array],
            required: false
        },
    },
    methods: {
        addDevice() {
            this.dialogFormVisible = true;
            this.getTypeDevice();
            this.showfloor = true
        },
        addFloor() {
            this.form.floor.id = '';
            this.showfloor = false
        },
        getTypeDevice() {
            apiTypeDevice().then(response => {
                this.status = 'Add Device';
                if (response.success) {
                    this.loading = false;
                    this.type = response.data;
                } else {
                    this.loading = false;
                    this.$message({
                        type: 'error',
                        message: response.message,
                    });
                }
            }).catch(error => {
                this.loading = false;
                console.log(error);
                this.$message({
                    type: 'error',
                    message: 'Error Get Type Device',
                });
            })
        },
        submitNewDevice(formName) {
            this.$refs[formName].validate((valid) => {
                if (valid) {
                    this.loading = true;
                    this.form.device.clientid = this.clientid;
                    this.form.floor.clientid = this.clientid;
                    apiCreateDevice(this.form).then(response => {
                        if (response.success) {
                            this.loading = false;
                            this.$message({
                                type: 'success',
                                message: response.message,
                            });
                            this.dialogFormVisible = false;
                            this.$refs[formName].resetFields();
                            this.$emit('refreshFloor', this.clientid)
                        } else {
                            this.loading = false;
                            this.$message({
                                type: 'error',
                                message: response.message,
                            });
                        }
                    }).catch(error => {
                        this.loading = false;
                        console.log(error);
                        this.$message({
                            type: 'error',
                            message: 'Error Create Client',
                        });
                    })
                }
            })
        },
        resetField() {
            this.dialogFormVisible = false;
            this.checkfloor = true;
            this.showfloor = true;
        }
    },
    watch: {
        formvalidation: {
            handler() {
                this.form.device.name = this.formvalidation.name
                this.form.device.description = this.formvalidation.description
                this.form.device.type = this.formvalidation.type
                this.form.device.deviceid = this.formvalidation.deviceid
                this.form.device.deviceeui = this.formvalidation.deviceeui
                this.form.device.devicename = this.formvalidation.devicename
                this.form.device.deviceparser = this.formvalidation.deviceparser
                this.form.floor.id = this.formvalidation.floorid
                this.form.floor.floor = this.formvalidation.floor
                this.form.floor.description = this.formvalidation.floordescription
            },
            deep: true
        }
    },
}
</script>

<style lang="scss" scoped>
.elcast-btn-add {
    margin-left: 5px;
}

.icon-type {
    fill: #1f8efa;
}
</style>
