<template>
<div class="elcast-margin-10">
    <el-card class="box-card" shadow="hover">
        <el-col :span="6" :offset="18">
            <el-input v-model="search" size="mini" placeholder="Type to search" />
        </el-col>
        <el-table :data="devices.filter(data => !search || data.clients_device.name.toLowerCase().includes(search.toLowerCase()))" style="width: 100%">
            <el-table-column label="Name" prop="clients_device.name"></el-table-column>
            <el-table-column label="Description" prop="clients_device.description"></el-table-column>
        </el-table>
    </el-card>
</div>
</template>

<script>
export default {
    name: 'devices',
    data() {
        return {
            search: ''
        }
    },
    props: {
        devices: {
            type: Array,
            required: true
        }
    }
}
</script>
<style lang="scss">
.elcast-margin-10{
    margin-top: 10px;
}
</style>