<template>
<div class="elcast-margin-10">
    <el-card class="box-card elcast-box-card" shadow="hover">
        <perfect-scrollbar class="elcast-scroll">
            <div v-for="(item, index) in list" :key="index" class="elcast-list-item" @click="getFloorDevice(item.id)">
                <el-card class="box-card elcast-card" :class="{ active: item.active }" shadow="hover">
                    <span class="elcast-list-span">{{ item.floor }}</span>
                </el-card>
            </div>
        </perfect-scrollbar>
    </el-card>
</div>
</template>

<script>
export default {
    name: 'floors',
    data() {
        return {
            search: '',
        }
    },
    props: {
        list: {
            type: Array,
            required: true
        }
    },
    methods: {
        getFloorDevice(id) {
            for (let i in this.list) {
                if (this.list[i].id != id) {
                    this.list[i].active = false
                } else {
                    this.list[i].active = true
                }
            }
            console.log(this.list)
            this.$emit('getFloorDevice', id)
        }
    },

}
</script>

<style lang="scss">
.elcast-table {
    width: 100%;
    height: 300px;
    overflow-y: auto;
}

.elcast-table-coloumn {
    cursor: pointer;
}

.elcast-list-item {
    cursor: pointer;
    margin: 5px;
}

.active {
    color: #1A73E8;
}

.elcast-margin-10 {
    margin-top: 10px;
}

.elcast-box-card {
    margin: 0;
}

.elcast-card .el-card__body {
    padding: 5px 10px 5px 5px;
}

.elcast-box-card .el-card__body {
    padding: 10px;
}
</style>
