<template>
<div>
    <div class="elcast-radio">
        <el-radio-group v-model="dateRange" size="small">
            <el-radio-button label="hourly">Today</el-radio-button>
            <el-radio-button label="daily">Daily</el-radio-button>
            <el-radio-button label="monthly">Monthly</el-radio-button>
            <el-radio-button label="yearly">Yearly</el-radio-button>
        </el-radio-group>
    </div>
    <component :is="componentId" class="elcast-chart" :chart="chart" :update="update" v-on:updateChart="updateChart"></component>
</div>
</template>

<script>
import lineChart from './chart/lineChart.js'

export default {
    name: 'date',
    components: {
        lineChart
    },
    props: {
        chartdata: {
            type: Object,
            required: true
        }
    },
    data() {
        return {
            dateRange: 'hourly',
            componentId: 'lineChart',
            chart: {
                labels: [],
                datasets: [{
                    label: 'hourly',
                    data: [],
                    fill: false,
                    borderColor: '#2554FF',
                    backgroundColor: '#2554FF',
                    borderWidth: 1
                }]
            },
            update : false
        }
    },
    methods: {
        updateChart(){
            this.update = false;
        }
    },
    watch: {
        dateRange: function () {
            this.$emit('getDateRange', this.dateRange)
        },
        chartdata: {
            handler() {
                this.chart.labels = this.chartdata.labels
                this.chart.datasets[0].label = this.chartdata.label
                this.chart.datasets[0].data = this.chartdata.data
                this.update = true;
            },
            deep: true
        }
    },
}
</script>

<style lang="scss">
.elcast-chart {
    height: 100%;
}
</style>
