<template>
<div>
    <el-card class="box-card" shadow="hover">
        <el-select v-model="clientid" placeholder="Select Client" @change="getFloorClient" class="elcast-input">
            <el-option v-for="item in client" :key="item.clientid" :label="item.clientname" :value="item.clientid">
            </el-option>
        </el-select>
    </el-card>
</div>
</template>

<script>
export default {
    name: 'devices',
    data() {
        return {
            clientid: ''
        }
    },
    props: {
        client: {
            type: [Object, Array],
            required: true
        }
    },
    mounted() {

    },
    methods: {
        checkClient() {
            if (this.client.length > 0) {
                this.clientid = this.client[0].clientid
                this.getFloorClient();
            }
        },
        getFloorClient() {
            this.$emit('getFloorClient', this.clientid)
        }
    },
    watch: {
        client() {
            this.checkClient()
        }
    },
}
</script>

<style lang="scss" scoped>
.elcast-input {
    width: 100%;
}
</style>
