<template>
<div class="elcast-margin-10">
    <el-card class="box-card" shadow="hover">
        <perfect-scrollbar class="elcast-scroll">
            <div v-for="(item, index) in floor" :key="index" class="elcast-list-item" @click="getFloorDevice(item.id)">
                <el-card class="box-card elcast-card" :class="{ active: item.active }" shadow="hover">
                    <span class="elcast-list-span">{{ item.floor }}</span>
                </el-card>
            </div>
        </perfect-scrollbar>
    </el-card>
</div>
</template>

<script>
export default {
    name: 'floors',
    data() {
        return {
            search: '',
        }
    },
    props: {
        floor: {
            type: Array,
            required: true
        }
    },
    methods: {
        getFloorDevice(id) {
            this.selectFloor(id)
            this.$emit('getFloorDevice', id)
        },
        selectFloor(id) {
            for (let i in this.floor) {
                if (this.floor[i].id != id) {
                    this.floor[i].active = false
                } else {
                    this.floor[i].active = true
                }
            }
        }
    },

}
</script>

<style lang="scss">
.elcast-scroll {
    width: 100%;
    height: 55vh;
    overflow-y: scroll;
}

.elcast-table-coloumn {
    cursor: pointer;
}

.elcast-margin-10 {
    margin-top: 10px;
}

.elcast-list-item {
    cursor: pointer;
    margin: 5px;
}

.active {
    color: #1A73E8;
}
.elcast-margin-10{
    margin-top: 10px;
}
.elcast-box-card{
    margin: 0;
}
.elcast-card .el-card__body {
    padding: 5px 10px 5px 5px;
}
.elcast-box-card .el-card__body {
    padding: 10px;
}
</style>
