<template>
<div>
    <el-select v-model="clientid" 
        placeholder="Select Client" 
        @change="getDeviceClient" 
        class="elcast-input"
    >
        <el-option v-for="item in client" 
            :key="item.clientid" 
            :label="item.clientname" 
            :value="item.clientid"
        ></el-option>
    </el-select>
</div>
</template>

<script>
export default {
    name: 'clients',
    data() {
        return {
            clientid: ''
        }
    },
    props: {
        client: {
            type: [Object, Array],
            required: true
        }
    },
    methods: {
        checkClient() {
            if (this.client.length > 0) {
                this.clientid = this.client[0].clientid;
                this.getDeviceClient();
            }
        },
        getDeviceClient() {
            this.$emit('getDeviceClient', this.clientid, this.clientcode);
        }
    },
    watch: {
        client() {
            this.checkClient()
        }
    },
    computed: {
        clientcode() {
            const val = this.client.find(item => item.clientid == this.clientid);

            return val ? val.clientcode : null;
        }
    }
}
</script>

<style lang="scss" scoped>
.elcast-input {
    width: 100%;
}
</style>
