<template>
<div class="">
    <el-select v-model="deviceselect" 
        placeholder="Device" 
        @change="getParamProperties"
        multiple
    >
        <el-option v-for="(item,index) in device" 
            :key="index" 
            :label="item.description" 
            :value="item.deviceid"
        >
            <span style="float: left">{{ item.description }}</span>
            <span style="float: right">
                <svg-icon :icon-class="item.type.icon" class-name='icon-type' />
            </span>
        </el-option>
    </el-select>
</div>
</template>

<script>
export default {
    name: 'device',
    data() {
        return {
            deviceselect: ''
        }
    },
    props: {
        device: {
            type: Array,
            required: true
        }
    },
    methods: {
        getParamProperties() {
            this.$emit('getParamProperties', this.deviceselect)
        }
    },
}
</script>

<style lang="scss">

</style>
