<template>
<div>
    <el-button type="primary" @click="createClient" class="new-client" icon="el-icon-edit">Create New Client</el-button>
    <el-dialog title="Create New Client" :visible.sync="dialogFormVisible" :width="css.dialogWidth">
        <el-form :model="formvalidation" :rules="rules" ref="formvalidation" label-width="120px">
            <el-form-item label="Client Code" prop="code">
                <el-input v-model="formvalidation.code" readonly></el-input>
            </el-form-item>
            <el-form-item label="Client No" prop="clientno">
                <el-input v-model="formvalidation.clientno" clearable></el-input>
            </el-form-item>
            <el-form-item label="Client Name" prop="clientname">
                <el-input v-model="formvalidation.clientname" clearable></el-input>
            </el-form-item>
            <el-form-item label="Users" prop="id">
                <el-select v-model="formvalidation.id" multiple placeholder="Select users">
                    <el-option v-for="item in userlist" :key="item.userid" :label="item.name" :value="item.userid">
                    </el-option>
                </el-select>
            </el-form-item>
            <el-form-item label="Role" prop="role">
                <el-select v-model="formvalidation.role" placeholder="Select Role">
                    <el-option v-for="item in userrole" :key="item.id" :label="item.description" :value="item.id">
                    </el-option>
                </el-select>
            </el-form-item>
        </el-form>
        <span slot="footer" class="dialog-footer">
            <el-button @click="dialogFormVisible = false">Cancel</el-button>
            <el-button type="primary" @click.prevent="SubmitNewClient('formvalidation')" :loading="loading" icon="el-icon-document-add">{{ status }}</el-button>
        </span>
    </el-dialog>
</div>
</template>

<script>
import {
    list as apiList
} from '@/api/user';

import {
    register as apiRegisterClient,
    role as apiRoleClient
} from '@/api/client';

export default {
    name: 'actions',
    data() {
        return {
            loading: true,
            status: 'Waiting....',
            dialogFormVisible: false,
            formLabelWidth: '120px',
            css: {
                dialogWidth: '90%'
            },
            userlist: [],
            userrole: [],
            form: {
                client: {
                    code: '',
                    information: {
                        clientno: '',
                        clientname: ''
                    },
                    users: {
                        id: [],
                        role: 1
                    }
                }
            },
            formvalidation: {
                code: '',
                clientno: '',
                clientname: '',
                id: [],
                role: 1
            },
            rules: {
                code: [{
                    required: true,
                    message: 'Please input Client Code',
                    trigger: 'blur'
                }],
                clientno: [{
                    required: true,
                    message: 'Please input Client No',
                    trigger: 'blur'
                }],
                clientname: [{
                    required: true,
                    message: 'Please input Client Name',
                    trigger: 'blur'
                }],
                id: [{
                    required: true,
                    message: 'Please input User',
                    trigger: 'blur'
                }],
                role: [{
                    required: true,
                    message: 'Please input Client Role',
                    trigger: 'blur'
                }],
            }
        }
    },
    methods: {
        makeid(length) {
            let result = '',
                characters = 'ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789',
                charactersLength = characters.length;
            for (var i = 0; i < length; i++) {
                result += characters.charAt(Math.floor(Math.random() * charactersLength));
            }
            return result;
        },
        createClient() {
            let id = this.makeid(25);
            this.form.client.code = id;
            this.formvalidation.code = id;
            this.dialogFormVisible = true;
            this.getListUser();
            this.getRole();
        },
        getListUser() {
            this.loading = true;
            this.userlist = [];
            apiList().then(response => {
                if (response.success) {
                    this.loading = false;
                    let data = response.data;
                    for (let i in data) {
                        this.userlist.push({
                            userid: data[i].userid,
                            name: data[i].userinformations.name,
                            email: data[i].userinformations.email,
                        })
                    }
                }
            }).catch(error => {
                this.loading = false;
                console.log(error);
                this.$message({
                    type: 'error',
                    message: 'Error Get list data user',
                });
            })
        },
        getRole() {
            this.loading = true;
            this.userlist = [];
            apiRoleClient().then(response => {
                if (response.success) {
                    this.loading = false;
                    let data = response.data;
                    this.userrole = data;
                }
            }).catch(error => {
                this.loading = false;
                console.log(error);
                this.$message({
                    type: 'error',
                    message: 'Error Get list Role user',
                });
            })
        },
        SubmitNewClient(formName) {
            this.$refs[formName].validate((valid) => {
                if (valid) {
                    this.loading = true;
                    apiRegisterClient(this.form).then(response => {
                        if (response.success) {
                            this.loading = false;
                            this.$message({
                                type: 'success',
                                message: 'Client Created.',
                            });
                            this.dialogFormVisible = false;
                            this.$emit('refreshClient', true)
                        } else {
                            this.loading = false;
                            this.$message({
                                type: 'error',
                                message: response.message,
                            });
                        }
                    }).catch(error => {
                        this.loading = false;
                        console.log(error);
                        this.$message({
                            type: 'error',
                            message: 'Error Create Client',
                        });
                    })
                }
            })
        },
        updateStatus() {
            if (this.loading) {
                this.status = 'Waiting....'
            } else {
                this.status = 'Register Client'
            }
        }
    },
    watch: {
        loading() {
            this.updateStatus()
        },
        formvalidation: {
            handler() {
                this.form.client.code = this.formvalidation.code
                this.form.client.information.clientno = this.formvalidation.clientno
                this.form.client.information.clientname = this.formvalidation.clientname
                this.form.client.users.id = this.formvalidation.id
                this.form.client.users.role = this.formvalidation.role
            },
            deep: true
        }
    },
}
</script>

<style lang="scss" scoped>
.new-client {
    float: right;
    margin: 5px -1px;
}
</style>
