<template>
<div>
    <el-card class="box-card" shadow="hover">
        <el-input v-model="search" placeholder="Type to search" />
        <el-table :data="list.filter(data => !search || data.clientname.toLowerCase().includes(search.toLowerCase()))" class="elcast-table">
            <el-table-column label="Client" prop="clientname" class-name="elcast-table-coloumn">
                <template slot-scope="scope">
                    <p size="mini" @click="getDetailClient(scope.row)">{{ scope.row.clientname }}</p>
                </template></el-table-column>
        </el-table>
    </el-card>
</div>
</template>

<script>
export default {
    name: 'clients',
    data() {
        return {
            search: ''
        }
    },
    props: {
        list: {
            type: [Object, Array],
            required: true
        }
    },
    methods: {
        getDetailClient(data) {
            this.$emit('getDetailClient', data)
        }
    },

}
</script>

<style lang="scss">
.elcast-table {
    width: 100%;
    height: 300px;
    overflow-y: auto;
}

.elcast-table-coloumn {
    cursor: pointer;
}
</style>
