<template>
<div>
    <el-card class="box-card" shadow="hover">
        <el-form ref="form" label-width="120px">
            <el-form-item label="Client Name">
                <el-input v-model="detail.clientname" disabled></el-input>
            </el-form-item>
            <el-form-item label="Client Code">
                <el-input v-model="detail.clientcode" disabled></el-input>
            </el-form-item>
            <el-form-item label="Client No">
                <el-input v-model="detail.clientno" disabled></el-input>
            </el-form-item>
            <el-form-item label="Users">
                <li v-for="(item, index) in detail.clientsuser" :key="index">{{ item.name }}</li>
            </el-form-item>
        </el-form>
        <el-row class="elcast-position-right">
            <el-button type="primary" icon="el-icon-edit" @click="viewClient" circle></el-button>
        </el-row>
    </el-card>
    <el-dialog title="Update Client" :visible.sync="dialogFormVisible" :width="css.dialogWidth">
        <el-form :model="formvalidation" :rules="rules" ref="formvalidation" label-width="120px">
            <el-form-item label="Client Code" prop="code">
                <el-input v-model="formvalidation.code" readonly></el-input>
            </el-form-item>
            <el-form-item label="Client No" prop="clientno">
                <el-input v-model="formvalidation.clientno" clearable></el-input>
            </el-form-item>
            <el-form-item label="Client Name" prop="clientname">
                <el-input v-model="formvalidation.clientname" clearable></el-input>
            </el-form-item>
            <el-form-item label="Users" prop="id">
                <el-select v-model="formvalidation.id" multiple placeholder="Select users">
                    <el-option v-for="item in userlist" :key="item.userid" :label="item.name" :value="item.userid">
                    </el-option>
                </el-select>
            </el-form-item>
            <el-form-item label="Role" prop="role">
                <el-select v-model="formvalidation.role" placeholder="Select Role">
                    <el-option v-for="item in userrole" :key="item.id" :label="item.description" :value="item.id">
                    </el-option>
                </el-select>
            </el-form-item>
        </el-form>
        <span slot="footer" class="dialog-footer">
            <el-button @click="dialogFormVisible = false">Cancel</el-button>
            <el-button type="primary" @click.prevent="updateClient('formvalidation')" :loading="loading" icon="el-icon-document-add">{{ status }}</el-button>
        </span>
    </el-dialog>
</div>
</template>

<script>
import {
    list as apiList
} from '@/api/user';

import {
    register as apiRegisterClient,
    role as apiRoleClient
} from '@/api/client';
export default {
    name: 'clients',
    data() {
        return {
            loading: true,
            status: 'Waiting....',
            dialogFormVisible: false,
            formLabelWidth: '120px',
            userlist: [],
            userrole: [],
            css: {
                dialogWidth: '90%'
            },
            form: {
                client: {
                    clientid : '',
                    code: '',
                    information: {
                        clientno: '',
                        clientname: ''
                    },
                    users: {
                        id: [],
                        role: 1
                    }
                }
            },
            formvalidation: {
                code: '',
                clientno: '',
                clientname: '',
                id: [],
                role: 1
            },
            rules: {
                code: [{
                    required: true,
                    message: 'Please input Client Code',
                    trigger: 'blur'
                }],
                clientno: [{
                    required: true,
                    message: 'Please input Client No',
                    trigger: 'blur'
                }],
                clientname: [{
                    required: true,
                    message: 'Please input Client Name',
                    trigger: 'blur'
                }],
                id: [{
                    required: true,
                    message: 'Please input User',
                    trigger: 'blur'
                }],
                role: [{
                    required: true,
                    message: 'Please input Client Role',
                    trigger: 'blur'
                }],
            }
        }
    },
    props: {
        detail: {
            type: [Object, Array],
            required: true
        }
    },
    methods: {
        viewClient() {
            this.getListUser();
            this.getRole()
            this.dialogFormVisible = true;
            this.formvalidation = {
                code: this.detail.clientcode,
                clientno: this.detail.clientno,
                clientname: this.detail.clientname,
            }
        },
        getListUser() {
            this.loading = true;
            this.userlist = [];
            apiList().then(response => {
                if (response.success) {
                    this.loading = false;
                    let data = response.data;
                    for (let i in data) {
                        this.userlist.push({
                            userid: data[i].userid,
                            name: data[i].userinformations.name,
                            email: data[i].userinformations.email,
                        })
                    }
                }
            }).catch(error => {
                this.loading = false;
                console.log(error);
                this.$message({
                    type: 'error',
                    message: 'Error Get list data user',
                });
            })
        },
        getRole() {
            this.loading = true;
            this.userlist = [];
            apiRoleClient().then(response => {
                if (response.success) {
                    this.loading = false;
                    let data = response.data;
                    this.userrole = data;
                }
            }).catch(error => {
                this.loading = false;
                console.log(error);
                this.$message({
                    type: 'error',
                    message: 'Error Get list Role user',
                });
            })
        },
        updateStatus() {
            if (this.loading) {
                this.status = 'Waiting....'
            } else {
                this.status = 'Update Client'
            }
        },
        updateClient(formName){
            this.$refs[formName].validate((valid) => {
                if (valid) {
                    this.loading = true;
                    apiRegisterClient(this.form).then(response => {
                        if (response.success) {
                            this.loading = false;
                            this.$message({
                                type: 'success',
                                message: 'Client Updated.',
                            });
                            this.dialogFormVisible = false;
                            this.$emit('refreshClient', true)
                        } else {
                            this.loading = false;
                            this.$message({
                                type: 'error',
                                message: response.message,
                            });
                        }
                    }).catch(error => {
                        this.loading = false;
                        console.log(error);
                        this.$message({
                            type: 'error',
                            message: 'Error Create Client',
                        });
                    })
                }
            })
        }
    },
    watch: {
        loading() {
            this.updateStatus()
        },
        formvalidation: {
            handler() {
                this.form.client.clientid = this.detail.clientid
                this.form.client.code = this.formvalidation.code
                this.form.client.information.clientno = this.formvalidation.clientno
                this.form.client.information.clientname = this.formvalidation.clientname
                this.form.client.users.id = this.formvalidation.id
                this.form.client.users.role = this.formvalidation.role
            },
            deep: true
        }
    },
}
</script>

<style lang="scss">
.elcast-table {
    width: 100%;
    height: 300px;
    overflow-y: auto;
}

.elcast-table-coloumn {
    cursor: pointer;
}

.elcast-position-right {
    text-align: right;
}
</style>
