<template>
<div class="elcast-margin-10">
    <el-card class="box-card elcast-box-card" shadow="hover">
        <perfect-scrollbar class="elcast-scroll">
            <div v-for="(item, index) in device" :key="index" class="elcast-list-item" @click="getDataDevice(item)">
                <el-card class="box-card elcast-card" :class="{ active: item.active }" shadow="hover">
                    <span class="elcast-list-span">{{ item.name }}</span>
                    <svg-icon :icon-class="item.type.icon" class-name='elcast-icon-style' />
                </el-card>
            </div>
        </perfect-scrollbar>
    </el-card>
</div>
</template>

<script>
import io from "socket.io-client";
import moment from 'moment';
export default {
    name: 'floors',
    data() {
        return {
            socket: {},
            search: '',
            datacollection: {},
            labels: {},
            data: {},
            paramproperties: []
        }
    },
    props: {
        device: {
            type: Array,
            required: true
        },
        valueproperties: {
            type: String,
        }
    },
    created() {
        this.socket = io.connect(process.env.VUE_APP_BASE_SOCKET);
    },
    mounted() {
        this.getRealtimeData()
    },
    methods: {
        fillData() {
            this.datacollection = {
                labels: this.labels[this.valueproperties],
                datasets: [{
                    label: "Device",
                    borderColor: '#2554FF',
                    backgroundColor: "#1A73E8",
                    fill: false,
                    data: this.data[this.valueproperties]
                }],
                options: {
                    scales: {
                        yAxes: [{
                            ticks: {
                                beginAtZero: true
                            },
                            gridLines: {
                                display: true
                            }
                        }],
                        xAxes: [{
                            gridLines: {
                                display: false
                            }
                        }]
                    },
                    legend: {
                        display: true
                    },
                    responsive: true,
                    maintainAspectRatio: false
                }
            };
            this.$emit('chartData', this.datacollection)
        },
        emptyData() {
            this.labels = {};
            this.data = {};
            this.datacollection = {
                labels: [],
                datasets: [{
                    label: "Device",
                    backgroundColor: "#1A73E8",
                    data: []
                }]
            };
            this.$emit('chartData', this.datacollection)
        },
        getRealtimeData() {
            this.socket.on("realtime/devicesummary", fetchedData => {
                if (this.paramproperties.length == 0) {
                    this.paramproperties = fetchedData.param
                    this.$emit('getParamProperties', this.paramproperties)
                }

                for (let i in this.paramproperties) {
                    if (typeof this.labels[this.paramproperties[i]] === 'undefined') {
                        this.labels[this.paramproperties[i]] = []
                        this.data[this.paramproperties[i]] = []
                    }
                    if (this.labels.length > 10) {
                        this.labels[this.paramproperties[i]].shift();
                        this.data[this.paramproperties[i]].shift();
                    }
                    this.labels[this.paramproperties[i]].push(this.getTime(fetchedData.value['time']));
                    this.data[this.paramproperties[i]].push(fetchedData.value[this.paramproperties[i]]);
                }
                if (this.valueproperties !== '') {
                    this.fillData()
                }
            })
        },
        getDataDevice(item) {
            this.socket.emit('realtime/devicesummary', {
                deviceName: item.deviceid
            })
            this.selectDevice(item)
        },
        getTime(timestamp) {
            return moment(timestamp).format('MMM Do');
        },
        selectDevice(item) {
            this.emptyData()
            for (let i in this.device) {
                if (this.device[i].deviceid != item.deviceid) {
                    this.device[i].active = false
                } else {
                    this.device[i].active = true
                }
            }
        }
    },
    watch: {
        valueproperties: function () {
            this.fillData()
        }
    },
    beforeDestroy() {
        this.socket.emit('realtime/closedevice', {})
        this.socket.disconnect();
    }
}
</script>


<style lang="scss">
.elcast-scroll {
    width: 100%;
    height: 55vh;
    overflow-y: scroll;
}

.elcast-table-coloumn {
    cursor: pointer;
}

.elcast-margin-10 {
    margin-top: 10px;
}

.elcast-list-item {
    cursor: pointer;
    margin: 5px;
}

.active {
    color: #1A73E8;
}

.elcast-icon-style {
    float: right;
}

.elcast-box-card {
    margin: 0;
}

.elcast-card .el-card__body {
    padding: 5px 10px 5px 5px;
}

.elcast-box-card .el-card__body {
    padding: 10px;
}
</style>
