<template>
<el-container>
    <el-row>
        <el-col :sm="24" :md="16">
            <el-row>
                <el-col :sm="24" :md="12">
                    <div class="grid-content bg-content shadow-content">
                        <div class="header flex">
                            <div class="title">Temperature</div>
                            <div class="option">
                                <app-device :device="device" valueproperties="temperature" v-on:chartData="chartDataTemperature" v-on:getParamProperties="getParamProperties" :daterange="daterange" :date="datesend"></app-device>
                            </div>
                        </div>
                        <div class="body">
                            <temperatureChart :series="temperatureData"></temperatureChart>
                        </div>
                    </div>
                </el-col>
                <el-col :sm="24" :md="12">
                    <div class="grid-content bg-content shadow-content">
                        <div class="header flex">
                            <div class="title">Voltage</div>
                            <div class="option">
                                <app-device :device="device" valueproperties="voltage" v-on:chartData="chartDataVoltage2" v-on:getParamProperties="getParamProperties" :daterange="daterange" :date="datesend"></app-device>
                            </div>
                        </div>
                        <div class="body">
                            <voltageChart2 :series="voltageData"></voltageChart2>
                        </div>
                    </div>
                </el-col>
                <el-col :sm="24" :md="12">
                    <div class="grid-content bg-content shadow-content">
                        <div class="header flex">
                            <div class="title">Humidity</div>
                            <div class="option">
                                <app-device :device="device" valueproperties="humidity" v-on:chartData="chartDataHumidity" v-on:getParamProperties="getParamProperties" :daterange="daterange" :date="datesend"></app-device>
                            </div>
                        </div>
                        <div class="body">
                            <humidityChart :series="humidityData"></humidityChart>
                        </div>
                    </div>
                </el-col>
                <el-col :sm="24" :md="24">
                    <div class="grid-content bg-content shadow-content">
                        <div class="header flex">
                            <div class="title">Voltage</div>
                            <div class="option">
                                <app-device :device="device" valueproperties="voltage" v-on:chartData="chartDataVoltage" v-on:getParamProperties="getParamProperties" :daterange="daterange_voltage" :date="datesend_voltage"></app-device>
                                <el-select class="ml-1" v-model="daterange_voltage">
                                    <el-option v-for="item in paramdate" :key="item.value" :label="item.description" :value="item.value">
                                    </el-option>
                                </el-select>
                                <el-date-picker class="ml-1" v-model="date" v-if="dateshow" type="date" placeholder="select date">
                                </el-date-picker>
                            </div>
                        </div>
                        <div class="body">
                            <voltageChart :series="datacollection_voltage.series" :label="datacollection_voltage.label"></voltageChart>
                        </div>
                    </div>
                </el-col>
            </el-row>
        </el-col>
        <el-col :sm="24" :md="8">
            <div class="grid-content bg-content shadow-content">
                <div class="header">
                    <div class="title">Status Devices</div>
                    <el-divider></el-divider>
                </div>
                <div class="body">
                    <div class="list">
                        <el-scrollbar wrap-style="max-height: 190px;">
                            <div v-for="(item, index) in activedevice" class="item-group" :key="index">
                                <div class="item">{{ item.description }}</div>
                                <div class="status">
                                    <i v-if="item.isActive" class="el-icon-success"></i>
                                    <i v-else class="el-icon-error"></i>
                                </div>
                            </div>
                        </el-scrollbar>
                    </div>
                </div>
                <div class="header mt-3">
                    <el-divider></el-divider>
                    <div class="title">Device Information</div>
                    <el-divider></el-divider>
                </div>
                <div class="body">
                    <div class="list-status">
                        <el-scrollbar wrap-style="max-height: 300px;">
                            <div v-for="(item, index) in statusdevice" class="item-status" :key="index">
                                <div class="item-icon">
                                    <i v-if="item.status == 'info'" class="el-icon-info"></i>
                                    <i v-if="item.status == 'warning'" class="el-icon-warning"></i>
                                    <i v-if="item.status == 'system'" class="el-icon-s-tools"></i>
                                </div>
                                <div class="item-desc">
                                    <div class="title">{{ item.description }}</div>
                                    <div class="subtitle">{{ item.message }}</div>
                                    <div class="date">{{ formatDate(item.time) }}</div>
                                </div>
                            </div>
                        </el-scrollbar>
                    </div>
                </div>
            </div>
        </el-col>
    </el-row>
</el-container>
</template>

<script>
import {
    mapGetters
} from 'vuex';
import temperatureChart from './components/temperatureChart';
import humidityChart from './components/humidityChart';
import voltageChart from './components/voltageChart';
import voltageChart2 from './components/voltageChart2';
import appDevice from './components/device';
import {
    getclientdevice as apiGetDeviceClient,
    getdevicestatus as apiGetDeviceStatus
} from '@/api/client';
import moment from 'moment';

export default {
    components: {
        temperatureChart,
        humidityChart,
        voltageChart,
        voltageChart2,
        appDevice
    },
    data() {
        return {
            loading: false,
            device: [],
            datacollection_temperature: {},
            datacollection_humidity: {},
            datacollection_voltage: {},
            datacollection_voltage2: {},
            temperatureData: [0],
            humidityData: [0],
            voltageData:[0],
            paramproperties: [],
            valueproperties: '',
            daterange: 30,
            daterange_voltage: 30,
            date: null,
            datesend: '',
            datesend_voltage: '',
            dateshow: false,
            paramdate: [{
                value: 30,
                description: `Last 30 Minutes`
            }, {
                value: 60,
                description: `Last 60 Minutes`
            }, {
                value: 'today',
                description: `Today`
            }, {
                value: 'date',
                description: `Pick a date`
            }],
            activedevice: [],
            statusdevice: []
        }
    },
    mounted() {
        this.getDeviceClient();
    },
    computed: {
        ...mapGetters([
            'clients'
        ])
    },
    methods: {
        getDeviceClient() {
            let params = {
                clientid : this.clients[0]
            };
            this.loading = true;
            apiGetDeviceClient(params).then(response => {
                if (response.success) {
                    for (let i in response.data) {
                        response.data[i].active = false
                    }
                    this.loading = false;
                    this.device = response.data;
                    this.getDeviceStatus(response.data);
                }
            }).catch(error => {
                this.loading = false;
                console.log(error);
                this.$message({
                    type: 'error',
                    message: 'Error Get Device Client',
                });
            })
        },
        getDeviceStatus(data) {
            let params = {
                device : data
            };
            apiGetDeviceStatus(params).then(response => {
                this.activedevice = response.active_device;
                this.statusdevice = response.status_device;
            }).catch(error => {
                console.log(error);
                this.$message({
                    type: 'error',
                    message: 'Error Get Device Status',
                });
            })
        },
        getDate(date) {
            return moment(date).format('DD.MM.YYYY');
        },
        formatDate(date) {
            return moment(date).format('HH:mm, DD MMMM YYYY');
        },
        chartDataTemperature(data) {
            this.datacollection_temperature = data
        },
        chartDataHumidity(data) {
            this.datacollection_humidity = data
        },
        chartDataVoltage(data) {
            this.datacollection_voltage = data
        },
        getParamProperties(data) {
            this.paramproperties = data
        },
        chartDataVoltage2(data){
            this.datacollection_voltage2 = data
        }
    },
    watch: {
        daterange_voltage: function (val) {
            if (val == 'date') {
                this.dateshow = true;
            } else {
                this.dateshow = false;
            }
        },
        date: function (val) {
            this.datesend_voltage = this.getDate(val)
        },
        datacollection_temperature: {
            handler: function (val) {
                if (val.series) {
                    if (val.series.length) {
                        if (val.series[0].data.length) {
                            this.temperatureData = val.series[0].data.slice(-1);
                        } else {
                            this.temperatureData = [0];
                        }
                    } else {
                        this.temperatureData = [0];
                    }
                } else {
                    this.temperatureData = [0];
                }
            },
            deep: true
        },
        datacollection_humidity: {
            handler: function (val) {
                if (val.series) {
                    if (val.series.length) {
                        if (val.series[0].data.length) {
                            this.humidityData = val.series[0].data.slice(-1);
                        } else {
                            this.humidityData = [0];
                        }
                    } else {
                        this.humidityData = [0];
                    }
                } else {
                    this.humidityData = [0];
                }
            },
            deep: true
        },
        datacollection_voltage2: {
            handler: function (val) {
                if (val.series) {
                    if (val.series.length) {
                        if (val.series[0].data.length) {
                            this.voltageData = val.series[0].data.slice(-1);
                        } else {
                            this.voltageData = [0];
                        }
                    } else {
                        this.voltageData = [0];
                    }
                } else {
                    this.voltageData = [0];
                }
            },
            deep: true
        },

    },
    beforeDestroy() {
        this.socket.emit('realtime/closedevice', {})
        this.socket.disconnect();
    }
}
</script>

<style lang="scss" scoped>

.option {
    display: flex;
}

.ml-1 {
    margin-left: 1rem;
}

.mt-3 {
    margin-top: 3rem;
}

.el-container {
    padding: 3rem 1rem 1rem 3rem;
}

.el-row {
    width: 100%;
}
.el-col {
    margin-bottom: 20px;
    &:last-child {
      margin-bottom: 0px;
    }
}

.bg-content {
    background: #FFFFFF;
}

.shadow-content {
    -webkit-box-shadow: 0px 3px 15px 0px rgba(64,32,32,0.15);
    -moz-box-shadow: 0px 3px 15px 0px rgba(64,32,32,0.15);
    box-shadow: 0px 3px 15px 0px rgba(64,32,32,0.15);
}
.grid-content {
    border-radius: 8px;
    min-height: 300px;
    margin-right: 20px;
    padding: 20px;
}

.header {
    &.flex {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .title {
        font-family: 'Rubik', sans-serif;
        font-weight: 500;
        color: #4D4F5C;
    }
    .el-select{
        margin-right: 10px;
        &:last-child {
          margin-right: 0px;
        }
    }
    .el-divider {
        margin: 12px 0;
    }
}

.body {
    .item-group {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 12px;
    }
    .item {
        font-family: 'Rubik', sans-serif;
        font-weight: 400;
        font-size: 12px;
        color: #4D4F5C;
    }
    .status {
        margin-right: 2vw;
        .el-icon-success {
            color: #1F8EFA;
            font-size: 1.5rem;
        }
        .el-icon-error {
            color: #F28483;
            font-size: 1.5rem;
        }
    }
}

.list-status {
    .item-status {
        display: flex;
        margin-bottom: 12px;
        margin-top: 12px;
    }
    .item-icon {
        font-size: 2rem;
        margin-right: 12px;
        .el-icon-info {
            color: #1F8EFA;
        }
        .el-icon-warning {
            color: #FEA94E;
        }
        .el-icon-s-tools {
            color: #00CE83;
        }
    }
    .item-desc {
        font-family: 'Rubik', sans-serif;
        font-size: 12px;
        .title {
            font-weight: 500;
            margin-bottom: 4px;
        }
        .subtitle {
            font-weight: 400;
            margin-bottom: 4px;
        }
        .date {
            font-weight: 300;
        }
    }
}

</style>
