<template>
<div class="elcast-container">
    <app-date v-on:getDateRange="setDateRange"></app-date>
    <div class="elcast-margin-10">
        <grid-layout :layout="layout" :col-num="12" :row-height="30" :is-draggable="draggable" :is-resizable="resizable" :responsive="responsive" :vertical-compact="true" :use-css-transforms="true">
            <grid-item v-for="(item, index) in layout" :key="index" :static="item.static" :x="item.x" :y="item.y" :w="item.w" :h="item.h" :i="item.i">
                <app-card class="wrapper" :details="item.details" v-loading="item.loading"></app-card>
            </grid-item>
        </grid-layout>
    </div>
</div>
</template>

<script>
import {
    GridLayout,
    GridItem
} from "vue-grid-layout"
import {
    getalldevice as apiGetAllDevice,
    getchangeincost as apiGetChangeInCost,
    getusageperdevice as apiGetUsagePerDevice,
    getusageperfloor as apiGetUsagePerFloor
} from '@/api/client';
import appDate from './components/date'
import appCard from './components/card'
import moment from 'moment';

export default {
    components: {
        appDate,
        appCard,
        GridLayout,
        GridItem,
    },
    data() {
        return {
            layout: [{
                "x": 4,
                "y": 0,
                "w": 4,
                "h": 7,
                "i": "Chart 2",
                details: {
                    name: 'Change in Cost',
                    view: 'barChart',
                    data: {},
                    chart: {
                        labels: [],
                        datasets: [{
                            label: 'Change in Cost',
                            borderColor: '#2554FF',
                            backgroundColor: '#2554FF',
                            borderWidth: 1,
                            pointBorderColor: '#2554FF',
                            data: []
                        }]
                    },
                    update: new Date()
                },
                loading: false
            }, {
                "x": 8,
                "y": 0,
                "w": 2,
                "h": 2,
                "i": "Chart 3",
                details: {
                    name: 'Total Device',
                    view: 'labels',
                    data: '0 Device',
                    chart: {},
                    update: new Date()
                },
                loading: false
            }, {
                "x": 0,
                "y": 0,
                "w": 5,
                "h": 6,
                "i": "Chart 5",
                details: {
                    name: 'Active Appliance',
                    view: 'horizontalBarChart',
                    data: {},
                    chart: {
                        labels: [],
                        datasets: [{
                            label: 'Active Appliance',
                            borderColor: '#2554FF',
                            backgroundColor: '#2554FF',
                            borderWidth: 1,
                            pointBorderColor: '#2554FF',
                            data: []
                        }]
                    },
                    update: new Date()
                },
                loading: false
            }, {
                "x": 5,
                "y": 0,
                "w": 5,
                "h": 6,
                "i": "Chart 6",
                details: {
                    name: 'Active Floor',
                    view: 'horizontalBarChart',
                    data: {},
                    chart: {
                        labels: [],
                        datasets: [{
                            label: 'Active Floor',
                            borderColor: '#2554FF',
                            backgroundColor: '#2554FF',
                            borderWidth: 1,
                            pointBorderColor: '#2554FF',
                            data: []
                        }]
                    },
                    update: new Date()
                },
                loading: false
            }],
            draggable: true,
            resizable: true,
            responsive: true,
            index: 0,
            totaldevice: '',
            daterange: 'hourly'
        }
    },
    mounted() {
        this.gettotaldevice();
        this.getchangeincost();
        this.getusageperdevice();
        this.getusageperfloor();
    },
    methods: {
        gettotaldevice() {
            this.layout[1].loading = true
            apiGetAllDevice().then(response => {
                this.layout[1].loading = false
                if (response.success) {
                    let totaldevice_ = response.data.length;
                    this.layout[1].details.data = `${totaldevice_} Device`
                }
            }).catch(error => {
                this.layout[1].loading = false
                console.log(error);
                this.$message({
                    type: 'error',
                    message: 'Error Get All Device',
                });
            })
        },
        setDateRange(value) {
            this.daterange = value;
        },
        getchangeincost() {
            let params = {
                    daterange: this.daterange
                },
                daterange = this.daterange;
            this.layout[0].loading = true
            apiGetChangeInCost(params).then(response => {
                this.layout[0].loading = false
                if (response.success) {
                    let labels_ = [],
                        data_ = [];
                    switch (daterange) {
                        case 'hourly':
                            for (let i in response.data) {
                                let date = this.getHour(response.data[i].time);
                                labels_.push(date)
                                data_.push(response.data[i].value)
                            }
                            break;
                        case 'daily':
                            for (let i in response.data) {
                                let date = this.getDay(response.data[i].time);
                                labels_.push(date)
                                data_.push(response.data[i].value)
                            }
                            break;
                        case 'monthly':
                            for (let i in response.data) {
                                let date = this.getMonth(response.data[i].time);
                                labels_.push(date)
                                data_.push(response.data[i].value)
                            }
                            break;
                        case 'yearly':
                            for (let i in response.data) {
                                let date = this.getYear(response.data[i].time);
                                labels_.push(date)
                                data_.push(response.data[i].value)
                            }
                            break;
                        default:
                            break;
                    }
                    this.layout[0].details.chart.datasets[0].label = this.daterange
                    this.layout[0].details.chart.labels = labels_
                    this.layout[0].details.chart.datasets[0].data = data_
                    this.layout[0].details.update = new Date()
                }
            }).catch(error => {
                this.layout[1].loading = false
                console.log(error);
                this.$message({
                    type: 'error',
                    message: 'Error get Change In Cost',
                });
            })
        },
        getusageperdevice() {
            let params = {
                daterange: this.daterange
            }
            this.layout[2].loading = true
            apiGetUsagePerDevice(params).then(response => {
                let labels_ = [],
                    data_ = [];
                this.layout[2].loading = false
                if (response.success) {
                    for (let i in response.data) {
                        labels_.push(response.data[i].device)
                        data_.push(response.data[i].value)
                    }
                    this.layout[2].details.chart.datasets[0].label = this.daterange
                    this.layout[2].details.chart.labels = labels_
                    this.layout[2].details.chart.datasets[0].data = data_
                    this.layout[2].details.update = new Date()
                }
            }).catch(error => {
                console.log(error);
                this.layout[2].loading = false
                this.$message({
                    type: 'error',
                    message: 'Error get Change Usage Per Device',
                });
            })
        },
        getusageperfloor() {
            let params = {
                daterange: this.daterange
            };
            this.layout[3].loading = true;
            apiGetUsagePerFloor(params).then(response => {
                let labels_ = [],
                    data_ = [];
                    this.layout[3].loading = false;
                if (response.success) {
                    for (let i in response.data) {
                        labels_.push(response.data[i].floor)
                        data_.push(response.data[i].value)
                    }
                    this.layout[3].details.chart.datasets[0].label = this.daterange
                    this.layout[3].details.chart.labels = labels_
                    this.layout[3].details.chart.datasets[0].data = data_
                    this.layout[3].details.update = new Date()
                }
            }).catch(error => {
                this.layout[3].loading = false;
                console.log(error);
                this.$message({
                    type: 'error',
                    message: 'Error get Change Usage Per Floor',
                });
            })
        },
        getHour(timestamp) {
            return moment(timestamp).format('h a');
        },
        getDay(timestamp) {
            return moment(timestamp).format('MMM Do');
        },
        getMonth(timestamp) {
            return moment(timestamp).format('MMM YY');
        },
        getYear(timestamp) {
            return moment(timestamp).format('YYYY');
        },
    },
    watch: {
        daterange: function () {
            this.getchangeincost();
            this.getusageperdevice();
            this.getusageperfloor();
        }
    },
}
</script>

<style lang="scss" scoped>
.wrapper {
    position: relative;
    height: 100%;
    width: 100%;
}

.elcast-container {
    margin: 5px;
}

.elcast-margin-10 {
    margin-top: 10px;
}

.vue-grid-item:not(.vue-grid-placeholder) {
    border: 3px solid rgba(83, 83, 83, 0.319);
    border-radius: 5px;
}

.vue-grid-item .resizing {
    opacity: 0.9;
}

.vue-grid-item .static {
    background: #cce;
}

.vue-grid-item .text {
    font-size: 24px;
    text-align: center;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    height: 100%;
    width: 100%;
}

.vue-grid-item .no-drag {
    height: 100%;
    width: 100%;
}

.vue-grid-item .minMax {
    font-size: 12px;
}

.vue-grid-item .add {
    cursor: pointer;
}

.vue-draggable-handle {
    position: absolute;
    width: 20px;
    height: 20px;
    top: 0;
    left: 0;
    background: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='10' height='10'><circle cx='5' cy='5' r='5' fill='#999999'/></svg>") no-repeat;
    background-position: bottom right;
    padding: 0 8px 8px 0;
    background-repeat: no-repeat;
    background-origin: content-box;
    box-sizing: border-box;
    cursor: pointer;
}

.layoutJSON {
    background: #ddd;
    border: 1px solid black;
    margin-top: 10px;
    padding: 10px;
}

.columns {
    -moz-columns: 120px;
    -webkit-columns: 120px;
    columns: 120px;
}
</style>
