<template>
<div class="dashboard-container">
    <el-row :gutter="15">
        <el-col :xs="24" :sm="24" :lg="16">
            <div class="chart-wrapper">
                <iframe src="http://172.16.1.233:3000/d-solo/ss9NFODMk/dashboard-calathu?orgId=1&from=1602882516431&to=1602904116431&var-device=elnusa_PM-LT12-Pantry_SCH5100&panelId=8" width="450" height="200" frameborder="0"></iframe>
                <!-- <line-chart :chart-data="datacollection" id="mychart"></line-chart> -->
            </div>
        </el-col>
        <el-col :xs="24" :sm="24" :lg="8">
            <div class="chart-wrapper">
            </div>
        </el-col>
    </el-row>
</div>
</template>

<script>
// import lineChart from './components/lineChart.js'
// import io from "socket.io-client";
import moment from 'moment';

export default {
    name: 'administratorDashboard',
    components: {
        //lineChart
    },
    data() {
        return {
            socket : {},
            datacollection: {
                labels: [],
                datasets: [{
                    label: "Device",
                    backgroundColor: "#1A73E8",
                    data: []
                }]
            },
            labels  : [],
            data   : [],
        };
    },
    created() {
        //this.socket = io.connect(process.env.VUE_APP_BASE_SOCKET);
    },
    mounted() {
        //this.getDataDevice(),
        //this.getRealtimeData()
    },
    methods: {
        fillData() {
            this.datacollection = {
                labels: this.labels,
                datasets: [{
                    label: "Device",
                    backgroundColor: "#1A73E8",
                    data: this.data
                }]
            };
        },
        getRealtimeData() {
            this.socket.on("realtime/device", fetchedData => {
                if (this.labels.length > 10) {
                    this.labels.shift();
                    this.data.shift();
                }
                this.labels.push(this.getTime());
                this.data.push(fetchedData.value.Current_S);
                this.fillData()
            })
        },
        getTime(){
            return moment().format('hh:mm:ss');
        },
        getDataDevice(){
            this.socket.emit('realtime/device',{deviceName : 'elnusa_PM-LTB-ACRuangUdaya_SCH5100'})
        },
        closeSocket(){
            this.socket.close()
        }
    },
    beforeDestroy() {
        this.closeSocket()
    },
}
</script>

<style lang="scss" scoped>
.dashboard-container {
    padding: 32px;
    background-color: rgb(240, 242, 245);
    position: relative;

    .chart-wrapper {
        background: #fff;
        padding: 16px 16px 0;
        margin-bottom: 32px;
    }
}

@media (max-width:1024px) {
    .chart-wrapper {
        padding: 8px;
    }
}
</style>
