<template>
    <apexchart ref="realtimeChart" type="line" height="300" :options="chartOptions" :series="series" />
</template>

<script>
import VueApexCharts from 'vue-apexcharts';
export default {
    components: {
        apexchart: VueApexCharts
    },
    props: {
        series: {
            type: [Array],
        },
        label: {
            type: [Array]
        },
        parameter: {
            type: String
        }
    },
    data() {
        return {
            chartOptions: {
                chart: {
                    toolbar: {
                        show: false
                    },
                    id: 'voltage',
                    height: 350,
                    type: 'line',
                    animations: {
                        enabled: true,
                        easing: 'linear',
                        dynamicAnimation: {
                            speed: 1000
                        }
                    }
                },
                colors: ['#1F8EFA'],
                plotOptions: {
                    bar: {
                      columnWidth: "20%"
                    }
                },
                stroke: {
                    curve: "smooth",
                    width: 1.8
                },
                grid: {
                    show: true,
                    strokeDashArray: 0,
                    xaxis: {
                        lines: {
                            show: true,
                        },
                    },
                },
                dropShadow: {
                    enabled: true,
                    opacity: 0.3,
                    blur: 5,
                    left: -7,
                    top: 22,
                },
                dataLabels: {
                    enabled: false,
                },
                xaxis: {
                    type: 'datetime',
                    categories: [],
                    labels: {
                        style: {
                            colors: '#303133',
                        },
                        datetimeUTC: false
                    },
                },
                tooltip: {
                    x: {
                        format: "hh:mm"
                    }
                },
                yaxis: {
                    labels: {
                        style: {
                            color: '#1f8efa',
                        }
                    },
                    title: {
                        text: ""
                    }
                },
            }
        }
    },
    methods: {
        updateSeriesLine() {
            this.chartOptions.xaxis.categories = ['03:13:39'];
            this.$refs.realtimeChart.updateOptions({
                xaxis: {
                    categories: this.label,
                    labels: {
                        style: {
                            colors: '#303133',
                        },
                    },
                },
            }, false, true);
            this.$refs.realtimeChart.updateSeries(this.series, false, true);
        },
    },
    watch:{
        series: {
            handler() {
                this.updateSeriesLine()
            },
            deep: true
        }
    }
}
</script>
