<template>
<div class="elcast-container" v-loading="loading">
    <el-card class="box-card" shadow="always">
        <el-row :gutter="15">
            <el-col :xs="24" :sm="24" :md="10" :lg="10">
                <el-card class="box-card elcast-margin-bottom-20" shadow="hover">
                    <el-col :xs="24" :sm="24" :md="12" :lg="10">
                        <app-clients :client="client" v-on:getDeviceClient="getDeviceClient" />
                    </el-col>
                    <el-col :xs="24" :sm="24" :md="12" :lg="14">
                        <app-device :device="device" :valueproperties="valueproperties" v-on:chartData="chartData" v-on:getParamProperties="getParamProperties" v-on:paramsocket="updateParamSocket" :daterange="daterange" :date="datesend"></app-device>
                    </el-col>
                </el-card>
            </el-col>
            <el-col :xs="24" :sm="24" :md="14" :lg="14">
                <el-card class="box-card" shadow="hover">
                    <el-col :xs="24" :sm="24" :md="8" :lg="8" class="elcast-margin-bottom-20">
                        <el-select v-model="valueproperties" class="elcast-input">
                            <el-option v-for="item in paramproperties" :key="item" :label="item" :value="item">
                            </el-option>
                        </el-select>
                    </el-col>
                    <el-col :xs="24" :sm="24" :md="1" :lg="1" class="elcast-margin-bottom-20">
                        <el-tooltip class="item" effect="dark" content="Download Excel" placement="bottom-start">
                            <el-button type="success" @click.prevent="exportData" icon="el-icon-download" plain></el-button>
                        </el-tooltip>
                    </el-col>
                    <el-col :xs="24" :sm="24" :md="12" :lg="12" class="elcast-input-right">
                        <el-select v-model="daterange">
                            <el-option v-for="item in paramdate" :key="item.value" :label="item.description" :value="item.value">
                            </el-option>
                        </el-select>
                        <el-date-picker v-model="date" v-if="dateshow" type="date" placeholder="select date" class="padding-5">
                        </el-date-picker>
                    </el-col>
                </el-card>
            </el-col>
            <el-col :xs="24" :sm="24" :md="24" :lg="24">
                <el-card class="box-card elcast-margin-10" shadow="hover">
                    <div class="elcast-chart">
                        <app-chart :series="datacollection.series" :label="datacollection.label" :parameter="valueproperties">
                        </app-chart>
                    </div>
                </el-card>
            </el-col>
        </el-row>
    </el-card>
</div>
</template>
<script>
import {
    getbyuser as apiGetClient,
    getclientdevice as apiGetDeviceClient,
    downloadreportdevice as apiDownloadReport
} from '@/api/client';
import appClients from './components/clients';
import appDevice from './components/device';
import appChart from './components/chart'
import moment from 'moment';
import {
    saveAs
} from 'file-saver';

export default {
    name: 'devicepowerusage',
    components: {
        appClients,
        appDevice,
        appChart
    },
    data() {
        return {
            loading: false,
            client: [],
            device: [],
            clientid: '',
            datacollection: {},
            paramproperties: [],
            valueproperties: '',
            daterange: 30,
            date: null,
            datesend: '',
            dateshow: false,
            paramdate: [{
                value: 30,
                description: `Last 30 Minutes`
            }, {
                value: 60,
                description: `Last 60 Minutes`
            }, {
                value: 'today',
                description: `today`
            }, {
                value: 'date',
                description: `Pick a date`
            }],
            paramexport: {},
        }
    },
    mounted() {
        this.getClient();
    },
    methods: {
        getClient() {
            this.loading = true;
            apiGetClient().then(response => {
                if (response.success) {
                    this.loading = false;
                    this.client = [];
                    let data = response.data;
                    for (let i in data) {
                        this.client.push({
                            clientid: data[i].clientid,
                            clientcode: data[i].clientcode,
                            clientno: data[i].clientinformation.client_no,
                            clientname: data[i].clientinformation.client_name,
                            clientsuser: data[i].clientusers,
                        })
                    }
                }
            }).catch(error => {
                this.loading = false;
                console.log(error);
                this.$message({
                    type: 'error',
                    message: 'Error Get list Client',
                });
            })
        },
        getDeviceClient(clientid) {
            this.clientid = clientid;
            let params = {
                clientid
            };
            this.loading = true;
            apiGetDeviceClient(params).then(response => {
                if (response.success) {
                    for (let i in response.data) {
                        response.data[i].active = false
                    }
                    this.loading = false;
                    this.device = response.data;
                }
            }).catch(error => {
                this.loading = false;
                console.log(error);
                this.$message({
                    type: 'error',
                    message: 'Error Get Device Client',
                });
            })
        },
        chartData(data) {
            this.datacollection = data
        },
        getParamProperties(data) {
            data.splice(data.indexOf('time'), 1);
            this.paramproperties = data
        },
        getDate(date) {
            return moment(date).format('DD.MM.YYYY');
        },
        updateParamSocket(data) {
            this.paramexport = data;
        },
        exportData() {
            apiDownloadReport(this.paramexport).then(response => {
                this.loading = false;
                saveAs(response, `${this.paramexport.deviceName} ${this.paramexport.daterange} ${this.paramexport.date} .xlsx`);
            }).catch(error => {
                this.loading = false;
                console.log(error);
            })
        }
    },
    watch: {
        daterange: function (val) {
            if (val == 'date') {
                this.dateshow = true;
            } else {
                this.dateshow = false;
            }
        },
        date: function (val) {
            this.datesend = this.getDate(val)
        }
    }
}
</script>

<style lang="scss" scoped>
.elcast-container {
    margin: 1em;
}

.elcast-margin-10 {
    margin-top: 10px;
}

.elcast-margin-bottom-20 {
    padding-bottom: 20px
}

.elcast-input-right {
    float: right;
    display: flex;
}

.padding-5 {
    padding-left: 5px;
}
</style>
