<template>
<div class="elcast-container" v-loading="loading">
    <el-card class="box-card" shadow="always">
        <el-row :gutter="15">
            <el-col :xs="24" :sm="24" :md="8" :lg="8">
                <app-clients :client="client" v-on:getDeviceClient="getDeviceClient" />
                <app-device :device="device" :valueproperties="valueproperties" v-on:chartData="chartData" v-on:getParamProperties="getParamProperties"></app-device>
            </el-col>
            <el-col :xs="24" :sm="24" :md="16" :lg="16">
                <div>
                    <el-card class="box-card" shadow="hover">
                        <el-select v-model="valueproperties" class="elcast-input">
                            <el-option v-for="item in paramproperties" :key="item" :label="item" :value="item">
                            </el-option>
                        </el-select>
                    </el-card>
                </div>
                <line-chart :chart-data="datacollection"></line-chart>
            </el-col>
        </el-row>
    </el-card>
</div>
</template>

<script>
import {
    getbyuser as apiGetClient,
    getclientdevice as apiGetDeviceClient
} from '@/api/client';
import lineChart from './components/lineChart'
import appClients from './components/clients';
import appDevice from './components/device';

export default {
    name: 'devicepowerusage',
    components: {
        appClients,
        appDevice,
        lineChart
    },
    data() {
        return {
            loading: false,
            client: [],
            device: [],
            clientid: '',
            datacollection: {},
            paramproperties: [],
            valueproperties: ''
        }
    },
    mounted() {
        this.getClient();
    },
    methods: {
        getClient() {
            this.loading = true;
            apiGetClient().then(response => {
                if (response.success) {
                    this.loading = false;
                    this.client = [];
                    let data = response.data;
                    for (let i in data) {
                        this.client.push({
                            clientid: data[i].clientid,
                            clientcode: data[i].clientcode,
                            clientno: data[i].clientinformation.client_no,
                            clientname: data[i].clientinformation.client_name,
                            clientsuser: data[i].clientusers,
                        })
                    }
                }
            }).catch(error => {
                this.loading = false;
                console.log(error);
                this.$message({
                    type: 'error',
                    message: 'Error Get list Client',
                });
            })
        },
        getDeviceClient(clientid) {
            this.clientid = clientid;
            let params = {
                clientid
            };
            this.loading = true;
            apiGetDeviceClient(params).then(response => {
                if (response.success) {
                    for (let i in response.data) {
                        response.data[i].active = false
                    }
                    this.loading = false;
                    this.device = response.data;
                }
            }).catch(error => {
                this.loading = false;
                console.log(error);
                this.$message({
                    type: 'error',
                    message: 'Error Get Device Client',
                });
            })

        },
        chartData(data) {
            this.datacollection = data
        },
        getParamProperties(data) {
            this.paramproperties = data
        }
    },
}
</script>

<style lang="scss" scoped>
.elcast-container {
    margin: 1em;
}
</style>
