<template>
<div class="elcast-container" v-loading="loading">
    <el-row :gutter="15">
        <el-col :xs="24" :sm="24" :md="24" :lg="24">
            <app-summary></app-summary>
        </el-col>
        <el-col :xs="24" :sm="24" :md="12" :lg="12">
            <app-costfloor></app-costfloor>
        </el-col>
        <el-col :xs="24" :sm="24" :md="12" :lg="12">
            <app-costdevice></app-costdevice>
        </el-col>
    </el-row>
</div>
</template>

<script>
import appSummary from './components/summary';
import appCostfloor from './components/costfloor';
import appCostdevice from './components/costdevice';

export default {
    name: 'device',
    components: {
        appSummary,
        appCostfloor,
        appCostdevice
    },
    data() {
        return {
            loading: false,
        }
    },
    mounted() {

    },
    methods: {

    }
}
</script>

<style lang="scss" scoped>
.elcast-container {
    margin: 1em;
}
</style>
